{include file="themes/$theme/header_jump.html"}
<script language="JavaScript">
<!--
var login_permission = '{$login_permission}';
{literal}
function commentSubmit()
{
    var f = document.f_comments;
    if (f.comment.value == '')
    {
        alert("Please input comment for this article");
        return false;
    }
    else 
    {
        f.submit();
    }
}
{/literal}
//-->
</script>
<div id="page-box1">
  <h2>{$campaign_name} comments</h2>
</div>
<div id="article-coments" >
  {if $total_comments > 0}
<table border="0" cellspacing="0" cellpadding="0" width="85%" class="comments-info " align="center" >
  <tr class="comments-head" >
    <td class="comments-head-left">&nbsp;</td>
    <td  colspan="8" ><span class="comments-header">Current Comments Information</span></td>
    <td class="comments-head-right">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="10" >
  {foreach from=$comments item=item name="loop"}
     <table cellspacing="0" cellpadding="10" bordercolor="#999999" border="1" width="100%">
   <tr>
    <td>
    <table cellspacing="0" width="100%">
  <tr>
    <td></td>
    <td align="right" class="comments-label">Role: </td>
    <td>{$item.creation_role}</td>
    <td align="right" class="comments-label">Creator: </td>
    {if $login_role neq 'client' || $login_role eq 'client' && $item.creation_role neq 'editor' and $item.creation_role neq 'copy writer'}
    <td>{if $item.creation_role eq 'client'}{$item.ccreator}{else}{$item.creator}{/if}</td>
    {else}
    <td>{$item.creation_role}</td>
    {/if}
    <td align="right" class="comments-label" nowrap >Comment Date: </td>
    <td nowrap>{$item.creation_date|date_format:"%m-%d-%Y %H:%M:%S"}</td>
  </tr>
  <tr>
    <td></td>
    <td colspan="10" >{$item.comment|nl2br}</td>
    <td></td>
  </tr>
    </table>
     </td>
   </tr>
    </table>
  {/foreach}
    </td>
  </tr>
</table>
  {/if}
<form action="{$request_uri}" method="post" id="f_comments"  name="f_comments" >
<table border="0" cellspacing="1" cellpadding="4" align="center" width="95%">
  <tr>
    <td class="requiredInput" style="text-align: left"  >Add comment</td>
   </tr>
   <tr>
    <td><textarea name="comment" style="width: 500px; height: 160px;" id="comment"></textarea></td>
  </tr>
  <tr>
    <td><input type="button" value="Add Comment" class="button" onclick="commentSubmit()" /></td>
  </tr>
</table>
</form>
  
</div>

{include file="themes/$theme/footer_jump.html"}