{include file="themes/$theme/header.html"}
{if $feedback neq ''}
<script>
alert('{$feedback}');
</script>
{/if}
{literal}
<script language="JavaScript">
function check_quotiety()
{
    var p = $("punctuation").value;
    var g = $("grammar").value;
    var s = $("structure").value;
    var a = $("ap_style").value;
    var sg = $("style_guide").value;
    var q = $("quality").value;
    var c = $("communication").value;
    var coop= $("cooperativeness").value;
    var t = $("timeliness").value;
    var sum = Number(p) + Number(g) + Number(s) + Number(a) + Number(sg) + Number(q) + Number(c) + Number(coop) + Number(t);
    if (p == '') {
        alert("Please enter Punctuation");
    } else if (g == '') {
        alert("Please enter grammer");
    } else if (s == '') {
        alert("Please enter structure");
    } else if (a == '') {
        alert("Please enter AP style");
    } else if (sg == '') {
        alert("Please enter style guide");
    } else if (q == '') {
        alert("Please enter content quality");
    } else if (c == '') {
        alert("Please enter communication");
    } else if (coop == '') {
        alert("Please enter cooperativeness");
    } else if (t == '') {
        alert("Please enter Timeliness");
    } else if (sum != 100) {
        alert("Quotieties addition result should equal to 100");
    } else {
        if (sum < 100 ) {
            var last = 100 - Number(r) - Number(i);
            $("timeliness").value = last;
        }
        if (window.confirm("Are you sure to update the copywriter ranking quotiety?"))
        {
            $("operation").value = "save";
            $("ranking_quotiety").submit();
        }
    }
}
</script>
{/literal}
<div id="page-box1">
  <h2>Specify New Copywriter Ranking Quotity</h2>
  <div id="campaign-search" >
    <strong></strong>
  </div>
  <div class="form-item" >
<form action="" method="post" name="ranking_quotiety" id="ranking_quotiety" >
  <input type="hidden" name="operation" id="operation" value="" />
  <input type="hidden" name="punctuation_id" id="punctuation_id" value="{$punctuation.pref_id}" />
  <input type="hidden" name="grammar_id" id="grammar_id" value="{$grammar.pref_id}" />
  <input type="hidden" name="structure_id" id="structure_id" value="{$structure.pref_id}" />
  <input type="hidden" name="ap_style_id" id="ap_style_id" value="{$ap_style.pref_id}" />
  <input type="hidden" name="style_guide_id" id="style_guide_id" value="{$style_guide.pref_id}" />
  <input type="hidden" name="quality_id" id="quality_id" value="{$quality.pref_id}" />
  <input type="hidden" name="communication_id" id="communication_id" value="{$communication.pref_id}" />
  <input type="hidden" name="cooperativeness_id" id="cooperativeness_id" value="{$cooperativeness.pref_id}" />
  <input type="hidden" name="timeliness_id" id="timeliness_id" value="{$timeliness.pref_id}" />
  <table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">
  <tr>
    <td class="moduleTitle" colspan=2></td>
  </tr>
  <tr>
    <td class="bodyBold">Basic Information</td>
    <td align="right" class="requiredHint">Required Information</td>
  </tr>
  <tr>
    <td class="blackLine" colspan=2><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td class="requiredInput">Punctuation:</td>
    <td><input type="text" id="punctuation" name="punctuation" value="{if $punctuation.pref_value > 0 }{$punctuation.pref_value}{else}5{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">Grammar:</td>
    <td><input type="text" id="grammar" name="grammar" value="{if $grammar.pref_value > 0 }{$grammar.pref_value}{else}10{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">Structure:</td>
    <td><input type="text" id="structure" name="structure" value="{if $structure.pref_value > 0}{$structure.pref_value}{else}10{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">AP Style Violations:</td>
    <td><input type="text" id="ap_style" name="ap_style" value="{if $ap_style.pref_value > 0}{$ap_style.pref_value}{else}10{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">Style Guide Violations:</td>
    <td><input type="text" id="style_guide" name="style_guide" value="{if $style_guide.pref_value > 0}{$style_guide.pref_value}{else}25{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">Overall Content Quality :</td>
    <td><input type="text" id="quality" name="quality" value="{if $quality.pref_value > 0}{$quality.pref_value}{else}15{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">Communication with Editor:</td>
    <td><input type="text" id="communication" name="communication" value="{if $communication.pref_value > 0}{$communication.pref_value}{else}10{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">Cooperativeness:</td>
    <td><input type="text" id="cooperativeness" name="cooperativeness" value="{if $cooperativeness.pref_value > 0}{$cooperativeness.pref_value}{else}5{/if}"/></td>
  </tr>
  <tr>
    <td class="requiredInput">Timeliness:</td>
    <td><input type="text" id="timeliness" name="timeliness" value="{if $timeliness.pref_value > 0}{$timeliness.pref_value}{else}10{/if}"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="button" class="button" name="save" value="Save" onclick="check_quotiety()"/></td>
  </tr>
</table>
</form>
  </div>
</div>
{include file="themes/$theme/footer.html"}