{include file="themes/$theme/header.html"}
 <link href='/js/rating/jquery.rating.css' type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
{literal}
<script type="text/javascript">
jQuery.noConflict(); 
function checkRanking() {
    var punctuation = jQuery("input[name='punctuation']:checked").val() || 0;
    var grammar = jQuery("input[name='grammar']:checked").val() || 0;
    var structure = jQuery("input[name='structure']:checked").val() || 0;
    var ap_style = jQuery("input[name='ap_style']:checked").val() || 0;
    var style_guide = jQuery("input[name='style_guide']:checked").val() || 0;
    var quality = jQuery("input[name='quality']:checked").val() || 0;
    var communication = jQuery("input[name='communication']:checked").val() || 0;
    var cooperativeness = jQuery("input[name='cooperativeness']:checked").val() || 0;
    var timeliness = jQuery("input[name='timeliness']:checked").val() || 0;
    var ranking = jQuery("#ranking").val() || 0;
    if ( ranking > 100) {
       alert("Please choose a total is more than 100, please to check you choose");
       jQuery("#ranking").val(100);
       jQuery("input[name='punctuation']:radio").get(0).focus();
       return false;
    } else if ( punctuation == 0) {
        alert("Please choose a number of Punctuation");
        jQuery("input[name='punctuation']:radio").get(0).focus();
        return false;
    } else if (grammar == 0) {
        alert("Please choose a number of Grammar");
        jQuery("input[name='grammar']:radio").get(0).focus();
        return false;
    } else if (structure == 0) {
        alert("Please choose a number of Structure");
        jQuery("input[name='structure']:radio").get(0).focus();
        return false;
    } else if (ap_style == 0) {
       alert("Please choose a number of AP Style");
        jQuery("input[name='ap_style']:radio").get(0).focus();
        return false;
    } else if (style_guide == 0) {
       alert("Please choose a number of Style Guide");
        jQuery("input[name='style_guide']:radio").get(0).focus();
        return false;
    } else if (quality == 0) {
        alert("Please choose a number of Overall Content Quality");
        jQuery("input[name='quality']:radio").get(0).focus();
        return false;
    } else if (communication == 0) {
        alert("Please choose a number of Communication with Editor");
        jQuery("input[name='communication']:radio").get(0).focus();
        return false;
    } else if (cooperativeness == 0) {
        alert("Please choose a number of Cooperativeness");
        jQuery("input[name='cooperativeness]:radio").get(0).focus();
        return false;
    } else if (timeliness == 0) {
        alert("Please choose a number of Timeliness ");
        jQuery("input[name='timeliness']:radio").get(0).focus();
        return false;
    } else {
        jQuery("#opt").val("save");
        jQuery("#ranking_info").submit();
    }
    return false;
}

</script>
{/literal}

<div>
{foreach from=$quotiety item=v key=n}
<input type="hidden" name="quotiety[{$n}]" id="quotiety{$n}" value="{$v}" />
{/foreach}
</div>
<div id="page-box1">
  <h2>Specify Copywriter Article Ranking</h2>
  <div id="campaign-search" >
    <strong>You can change the copywriter ranking quotiety on System Setting Page</strong>
  </div>
  <div class="form-item" >
<form id="ranking_info" name="ranking_info" method="post">
  <input type="hidden" name="opt" id="opt" />
  <input type="hidden" name="ranking_id" id="ranking_id" value="{$ranking_info.ranking_id}"/>
  <input type="hidden" name="ranking" id="ranking" value="{$ranking_info.ranking}"/>
<table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">
  <tr>
    <td class="bodyBold">Basic Information</td>
    <td align="right" class="requiredHint">Required Information</td>
  </tr>
  <tr>
    <td class="requiredInput" >Keyword </td>
    <td colspan="4">
      {$ranking_info.keyword}
      <input type="hidden" name="keyword_id" id="keyword_id" value="{$ranking_info.keyword_id}" />
    </td>
  </tr>
  <tr>
    <td class="requiredInput" >Campaign </td>
    <td colspan="4">
      {$ranking_info.campaign_name}
      <input type="hidden" name="campaign_id" id="campaign_id" value="{$ranking_info.campaign_id}" />
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Copywriter Name</td>
    <td colspan="4">
      <input type="hidden" id="user_id" name="user_id" value="{$ranking_info.user_id}" />
      {$ranking_info.user_name}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Punctuation</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="punctuation" value="{$v}"  {if $ranking_info.punctuation == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Grammar</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="grammar" value="{$v}"  {if $ranking_info.grammar == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Structure</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="structure" value="{$v}"  {if $ranking_info.structure == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">AP Style</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="ap_style" value="{$v}"  {if $ranking_info.ap_style == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Style Guide</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="style_guide" value="{$v}"  {if $ranking_info.style_guide == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Overall Content Quality</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="quality" value="{$v}"  {if $ranking_info.quality == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Communication with Editor</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="communication" value="{$v}"  {if $ranking_info.communication == $v}checked{/if}  />
    {/foreach}    
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Cooperativeness</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="cooperativeness" value="{$v}"  {if $ranking_info.cooperativeness == $v}checked{/if}  />
    {/foreach}   
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Timeliness</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="timeliness" value="{$v}"  {if $ranking_info.timeliness == $v}checked{/if}  />
    {/foreach}   
    </td>
  </tr>
  <tr><td colspan="12" align="center" ><div id="totaldiv" >Total:{$ranking_info.ranking|default:0}</div></td></tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="button" class="button" name="save" value="Save" onclick="checkRanking()"/></td>
  </tr>    
</table>
</form>
  </div>
</div>
{include file="themes/$theme/footer.html"}
{literal}
<script type="text/javascript">
jQuery("input:radio").each(function(index){
    jQuery(this).attr('class', 'star');
});
</script>
{/literal}
<script type="text/javascript" src="/js/rating/jquery.rating.js"></script>
{literal}
<script type="text/javascript">
var old_ratings = new Array();
function initRadios()
{
    jQuery("input:checked").each(function(index) {
        name = jQuery(this).attr('name');
        quotiety = parseInt(jQuery("#quotiety" + name).val());
        value = parseInt(jQuery(this).val())/5.0;
        value *= quotiety;
        old_ratings[name] = value;
    });
}
initRadios();
jQuery('.star').rating({required:true, callback:function(value,link){
    var total =jQuery('#ranking').val() || 0;
    name = jQuery(this).attr('name');
    quotiety = parseInt(jQuery("#quotiety" + name).val());
    value = parseInt(value)/5.0;
    value *= quotiety;
    total = parseInt(total);
    old_ratings[name] = old_ratings[name] || 0;
    if ( old_ratings[name] > 0) {
      total -= old_ratings[name];
    }
    total += parseInt(value);
    jQuery('#ranking').val(total);
    old_ratings[name] = value;
    jQuery('#totaldiv').html('Total&nbsp;:' + total);
  }});
</script>
{/literal}
