{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
{literal}
<script language="JavaScript">
<!--
function batchAcctFlow(flow_status)
{
  var f = document.f_acct_flow;
  if (flow_status == 'paid' && !confirm('Are you sure pay all users you choose?')) {
      return false;
  }

  if (flow_status == 'ap' && !confirm('Are you sure confirm all users you choose?')) {
      return false;
  }

  if (flow_status == 'cpc' && !confirm('Are you sure approve without user confirmation for all users you choose?')) {
      return false;
  }
  f.flow_status.value = flow_status;
  ajaxSubmit('/client_campaign/batch_change.php', 'f_acct_flow', 'show_status', 'post');
  Element.show('show_shape_end');
}
//-->
</script>
{/literal}
<div id="page-box1">
  <h2>{if $role == 'copy writer'}Copywriter{else}Editor{/if} {if $bstatus == ''} Batch Confirm First and Approve Now {elseif $bstatus == 'ap'}Batch Force Approve{else}Batch Mark as Paid{/if}&nbsp;&nbsp;&nbsp;&nbsp;</h2>
  <div><a href="/client_campaign/cp_acct_report.php?month={$month}&status={$user_status}&user_type={$role}">{if $role == 'copy writer'}Copywriter{else}Editor{/if} Accounting List</a></div>
  <div id="campaign-search" >
    <strong></strong>
    <div id="campaign-search-box" >
<form name="f_assign_keyword_return" id="f_assign_keyword_return"  action="{$actionurl}" method="get">
<input type="hidden" name="user_type" value="{$role}" /> 
<input type="hidden" name="bstatus" value="{$bstatus}" /> 
<table border="0" cellspacing="1" cellpadding="4">
  <tr>
    <td  nowrap>Month:</td>
    <td><select name="month" id="cmonth" onchange="this.form.submit();">{html_options options=$monthes selected=$month}</select></td>
    <td  nowrap>User Status:</td>
    <td><select name="status" onchange="this.form.submit();">{html_options options=$users_status selected=$user_status}</select></td>
  </tr>
</table><br>
</form>
    </div>
  </div>
</div>
<div class="tablepadding"> 
<form action="{$actionurl}" method="post"  name="f_acct_flow" id="f_acct_flow" >
<input type="hidden" name="flow_status" value="" />
<input type="hidden" name="month" value="{$month}" />
<input type="hidden" name="role" id="role" value="{$role}" /> 
<input type="hidden" name="bstatus" value="{$bstatus}" /> 
<table id="table-1" cellspacing="0" align="center" cellpadding="0" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner"  rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2" rowspan="2">
      {if $total > 0}<input type="checkbox" name="Select_All" title="Select All" onClick="javascript:checkAll('isUpdate[]')" />{/if}
    </td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">#</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">User Name</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">First Name</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Last Name</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Email</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Status</td>
    <td nowrap class="columnHeadInactiveBlack" colspan="{$total_type+1}" align="center">Total Client Approved Words &nbsp;/&nbsp;{$now|date_format:"%B, %Y"}</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Pay Words Total</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Pay Articles Total</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Pay Amount</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Payment Preference</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Payment Status</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2" rowspan="2">&nbsp;</td>
    <th class="table-right-corner" rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>
  <tr class="sortableTab">
    {foreach from=$g_article_types item=item key=key name="loop2"}
    <td class="columnHeadInactiveBlack">{$item}</td>
    {/foreach}
    <td class="columnHeadInactiveBlack" >Total</td>
  </tr>
  </thead>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}" id="tr{$item.user_id}" >
    <td class="table-left" >&nbsp;</td>
    <td class="table-left-2">
      {if $item.payment_flow_status neq 'dwe' && ($item.pay_gct_count > 0 || $item.pay_count_article > 0)}
      <input type="checkbox" name="isUpdate[]" id="isUpdate_{$smarty.foreach.loop_all.iteration}" value="{$item.user_id}" onclick="javascript:checkItem('Select_All', f_acct_flow)" />
      {/if}
    </td>
    <td>{$smarty.foreach.loop.iteration}</td>
    <td>{$item.user_name}</td>
    <td>{$item.first_name}</td>
    <td>{$item.last_name}</td>
    <td>{$item.email}</td>
    <td>{if $item.status == 'A'}<label style="color:red" >{$users_status.A}<label>{else}{$users_status.D}{/if}</td>
    {foreach from=$g_article_types item=type key=key name="loop1" }
    <td id='t{$key}_count_{$item.user_id}' >{$item[$key]}</td>
    {/foreach}
    <td id='gct_count_{$item.user_id}' ><a href="/client_campaign/keyword_adjust.php?user_id={$item.user_id}&month={$month}&role={$role}" target="_blank"><font color="red">{$item.gct_count}</font></a></td>
    <td id='pay_gct_count_{$item.user_id}' >{$item.pay_gct_count}</td>
    <td id='pay_article_count_{$item.user_id}' >{$item.pay_count_article}</td>
    <td>${if $item.payment > 0}{$item.payment}{elseif $item.pay_amount > 0}{$item.pay_amount}{else}0{/if}</td>
    <td >{if $item.pay_pref == ''}n/a{else}{$payment_preferences[$item.pay_pref]}{/if}</td>
    <td id="status_{$item.user_id}" >{if $item.payment_flow_status eq 'paid'}{$item.payment_flow_status}{else}Not paid{/if}</td>
    <td class="table-right-2">{if $item.payment_flow_status eq 'paid'||$item.payment_flow_status eq 'cpc' || $item.payment_flow_status eq 'cbill'}
	    <input type="button" class="button" value="view invoice" onclick="window.open('/client_campaign/cp_invoice.php?user_id={$item.user_id}&month={$item.month}&role={$role}', 'view_invoice',  'status=yes, width=900, height=400,  left=50,  top=50, scrollbars=yes, resizable=yes');">
	    {/if}</td>
      <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
{if $total > 0}
<table align="center">
  <tr>
    <td align="center" >
      {if $bstatus == ''}
        <input type="button" class="button" value="Confirm First" onclick="batchAcctFlow('ap')" />&nbsp;&nbsp;
        <input type="button" class="button" value="Approve Now" onclick="batchAcctFlow('cpc')" />&nbsp;&nbsp;
      {elseif $bstatus == 'ap'}
        <input type="button" class="button" value="Force Approve" onclick="batchAcctFlow('cpc')" />&nbsp;&nbsp;
      {else}
        <input type="button" class="button" value="mark as paid" onclick="batchAcctFlow('paid')" />
      {/if}
    </td>
   </tr>
   <tr><td align="center"><div id="show_shape_end" class="corner" style="display:none;width:310px;z-index:1000;height: 30px;" >
  <div class="ricohint" style="width:310px;z-index:1000;" id="show_status"  align="center" >saving...</div></div></td></tr>
</table>
{/if}
</form>
</div>
{include file="themes/$theme/footer.html"}