{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert("{$feedback}");
//-->
</script>
{/if}

{literal}
<script language="JavaScript">
<!--
function check_f_client_campaign()
{
  var f = document.f_client_campaign;
  if (f.client_id.value.length == 0) {
    alert('Please choose a client');
    f.client_id.focus();
    return false;
  }
  if (f.campaign_name.value.length == 0) {
    alert('Please specify the campaign name');
    f.campaign_name.focus();
    return false;
  }
  if (f.category_id.value == 0) {
    alert('Please specify category');
    f.category_id.focus();
    return false;
  }

  if (f.date_start.value.length == 0) {
    alert('Please enter start date of the campaign');
    return false;
  }

  if (f.date_end.value.length == 0) {
    alert('Please enter Due Date of the campaign');
    return false;
  }

  if (f.ordered_by.value.length == 0) {
    alert('Please specify Ordered By');
    f.ordered_by.focus();
    return false;
  }
  return true;
}
//-->
</script>
{/literal}

<div id="page-box1">
  <h2>Client's Campaign Information Setting</h2>
  <div id="campaign-search" >
    <strong>Please enter the client's campaign required information.</strong>
  </div>
  <div class="form-item" >
<br><table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">
  <form action="" method="post"  name="f_client_campaign" {if $js_check eq true} onsubmit="return check_f_client_campaign()"{/if}>
  <input type="hidden" name="campaign_id" value="{$client_campaign_info.campaign_id}">
  <input type="hidden" name="order_campaign_id" value="{$client_campaign_info.order_campaign_id}">
  <tr>
    <td class="bodyBold">Basic Information</td>
    <td align="right" class="requiredHint">Required Information</td>
  </tr>
  <tr>
    <td class="blackLine" colspan=2><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td class="requiredInput">Client</td>
    <td>
      {$client_name}
      <input name="client_id" type="hidden" id="client_id" value="{$client_campaign_info.client_id}" />
      <input name="campaign_type" type="hidden" id="campaign_type" value="{$client_campaign_info.campaign_type}" />
      <input name="ordered_by" type="hidden" id="ordered_by" value="{$client_campaign_info.ordered_by}" />      
      <input type="hidden" name="title_param" id="title_param_custom" value="1" />
      <input type="hidden" name="meta_param" id="meta_param_default" value="0" />
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Campaign Name</td>
    <td><input name="campaign_name" type="text" id="campaign_name" value="{$client_campaign_info.campaign_name}" onchange="javascript:this.value=Trim(this.value)"></td>
  </tr>
  <tr>
    <td class="dataLabel">Domain</td>
    <td>{$domains[$client_campaign_info.source]|default:'n/a'}<input type="hidden" name="source" id="source" value="{$client_campaign_info.source}" /></td>
  </tr>
  <tr>
    <td class="dataLabel">Article Type</td>
    <td>{$article_type[$client_campaign_info.article_type]|default:'n/a'}<input type="hidden" name="article_type" id="article_type" value="{$client_campaign_info.article_type}" /></td>
  </tr>
  <tr>
    <td class="dataLabel">Template</td>
    <td>{$templates[$client_campaign_info.template]|default:'n/a'}<input type="hidden" name="template" id="template" value="{$client_campaign_info.template}" /></td>
  </tr>
  <tr>
    <td class="requiredInput">Category</td>
    <td>
    <select name="category_id">
    {foreach from=$category item=i key=k }
    <option value="{$k}" {if $client_campaign_info.category_id == $k}selected{/if}>{$i.name}</option>
    {foreach from=$i.chidren item=name key=subk }
    <option value="{$subk}" {if $client_campaign_info.category_id == $subk}selected{/if}>{$name}</option>
    {/foreach}
    {/foreach}
    </select>
    </td>
  </tr>
  <tr>
    <td class="requiredInput"> Start Date</td>
    <td><input type="text" name="date_start" id="date_start" size="10" maxlength="10" value="{$client_campaign_info.date_start}" readonly/>
        <input type="button" class="button" id="btn_cal_date_start" value="...">
        <script type="text/javascript">
        Calendar.setup({ldelim}
            inputField  : "date_start",
            ifFormat    : "%Y-%m-%d",
            showsTime   : false,
            button      : "btn_cal_date_start",
            singleClick : true,
            step        : 1,
            range       : [1990, 2030]
        {rdelim});
        </script></td>
  </tr>
  <tr>
    <td class="requiredInput">Due Date</td>
    <td><input type="text" name="date_end" id="date_end" size="10" maxlength="10" value="{$client_campaign_info.date_end}" readonly/>
        <input type="button" class="button" id="btn_cal_date_end" value="...">
        <script type="text/javascript">
        Calendar.setup({ldelim}
            inputField  : "date_end",
            ifFormat    : "%Y-%m-%d",
            showsTime   : false,
            button      : "btn_cal_date_end",
            singleClick : true,
            step        : 1,
            range       : [1990, 2030]
        {rdelim});
        </script></td>
  </tr>
  <tr>
    <td class="requiredInput">No. of Words</td>
    <td><input id="max_word" name="max_word"  value="{$client_campaign_info.max_word|default:0}" /></td>
  </tr>
  <tr>
    <td class="requiredInput">Total # of Articles</td>
    <td><input id="total_keyword" name="total_keyword"  value="{$client_campaign_info.total_keyword|default:0}" /></td>
  </tr>
  <tr>
    <td class="blackLine" colspan="2"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Next" class="button"></td>
  </tr>
  </form>
</table>
  </div>
</div>
{include file="themes/$theme/footer.html"}