{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
<div id="page-box1">
  <h2>Campaign List</h2>
  <div id="campaign-search" >
    <strong>You can enter the "client name","campaign name","company name" etc. into the keyword input to search the relevant client's campaign information</strong>
     <div id="campaign-search-box" >
     
<table border="0" cellspacing="1" cellpadding="4">
  <form name="f_assign_keyword_return" action="/client_campaign/list.php" method="get">
  <tr>
    <td nowrap>Campaign Keyword</td>
    <td><input type="text" name="keyword" id="search_keyword"></td>
    <td><input type="image" src="/images/button-search.gif" value="submit" /></td>
    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td width="70%">&nbsp;</td>
  </tr>
  </form>
</table><br>
    </div>
  </div>
</div>

<div class="tablepadding"> 
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
<table id="table-1" cellspacing="0" cellpadding="0" class="sortableTable" width="100%">
  <form action="/client_campaign/list.php" name="campaign_list" method="post" />
  <input type="hidden" name="campaign_id" />
  <input type="hidden" name="form_refresh" value="N" />
  <thead>
  <tr class="sortableTab">
    <td nowrap class="columnHeadInactiveBlack table-left-2">Campaign Name</td>
    <td nowrap class="columnHeadInactiveBlack">Start Date</td>
    <td nowrap class="columnHeadInactiveBlack">Due Date</td>
    <td nowrap class="columnHeadInactiveBlack">Progress</td>
    <td nowrap class="columnHeadInactiveBlack">Project Manager</td>
    {* add/edit content production style guide *}
    <td nowrap class="columnHeadInactiveBlack table-right-2">Action</td>
  </tr>
  </thead>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
    <td class="table-left-2"><strong><a href="/article/download_article_list.php?campaign_id={$item.campaign_id}">{$item.campaign_name}</a></strong></td>
    <td><strong>{$item.date_start|date_format:"%m-%d-%Y"}</strong></td>
    <td><strong>{$item.date_end|date_format:"%m-%d-%Y"}</strong></td>
    <td><strong>{$item.progress|string_format:"%.2f"}%</strong></td>
    <td><strong>{$item.project_manager}</strong></td>
    {* added by snug xu 2007-06-04 11:41 - STARTED*}
    {* add/edit content production style guide *}
    <td class="table-right-2" align="center">
    {if $item.style_id > 0}
    <input type="button" class="button" value="Edit Style Guide" onclick="openWindow('/client_campaign/campaign_style_guide_form.php?style_id={$item.style_id}', 'height=500,width=600,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');" />
    {else}
    <input type="button" class="button" value="Add Style Guide" onclick="openWindow('/client_campaign/campaign_style_guide_form.php?campaign_id={$item.campaign_id}', 'height=500,width=650,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');" />
    {/if}
    {if $item.status == -1}
    <input type="button" class="button" value="Add Campaign" onclick="openLink('/client_campaign/campaign_questions.php?campaign_id={$item.campaign_id}');" />
    {/if}
    </td>
  </tr>
  {/foreach}
  </form>
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table><br />
</div>
</div>
<script type="text/javascript">
//<![CDATA[
{literal}
var st = new SortableTable(document.getElementById("table-1"),
  ["None","CaseInsensitiveString", "Date", "Date", "Number", "CaseInsensitiveString"]);

st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

st.asyncSort(0);
{/literal}
//]]>
</script>

{include file="themes/$theme/footer.html"}