{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
<div id="page-box1">
  <h2>Campaign List</h2>
  <div id="campaign-search" >
      <!--<strong>You can enter the "client name","campaign name","company name" etc. into the keyword input to search the relevant client's campaign information</strong>-->
      <div id="campaign-search-box" >
    <form name="f_assign_keyword_return" action="/client_campaign/ed_cp_campaign_list.php" method="get">
    <table border="0" cellspacing="1" cellpadding="4">
      <tr>
        <td nowrap>Campaign Keyword</td>
        <td><input type="text" name="keyword" id="search_keyword"></td>
        <td><input type="image" src="/images/button-search.gif" value="submit" /></td>
        <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td width="70%">&nbsp;</td>
      </tr>
    </table>
    </form>
    </div>
  </div>
</div>
<div class="tablepadding"> 
{if $login_role eq 'copy writer'}
<table id="table-1" cellspacing="0" cellpadding="0" align="center" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2">Campaign Name</td>
    <td nowrap class="columnHeadInactiveBlack">Progress</td>
    <!--<td nowrap class="columnHeadInactiveBlack">Project Manager</td>-->
    <td nowrap class="columnHeadInactiveBlack table-right-2">Action</td>
    <th class="table-right-corner">&nbsp;&nbsp;&nbsp;</th>
  </tr>
  </thead>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
    <td class="table-left" >&nbsp;</td>
    <td class="table-left-2"><strong><a href="/article/article_keyword_list.php?campaign_id={$item.campaign_id}">{$item.campaign_name}</a></strong></td>
    <td><strong>{$item.progress|string_format:"%.2f"}%</strong></td>
    <!--<td><strong>{$item.project_manager}</strong></td>-->
    <td class="table-right-2">
    <strong>
    {* remove request extension
    {if $item.progress< 100 && $login_permission == 1}
      <a href="/user/request_list.php?copy_writer_id={$item.copy_writer_id}&campaign_id={$item.campaign_id}&campaign_name={$item.campaign_name}" target="_blank" >[Request Extension]</a>
    {/if}*}
    <a href="javascript:void(0)" onclick="openWindow('/client_campaign/campaign_style_guide.php?campaign_id={$item.campaign_id}', 'height=500,width=600,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');"  >Assignment Details</a>
    </strong>
    </td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
<script type="text/javascript">
//<![CDATA[
{literal}
var st = new SortableTable(document.getElementById("table-1"),
  ["None","CaseInsensitiveString", "Number", "CaseInsensitiveString"]);

st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

st.asyncSort(0);
{/literal}
//]]>
</script>

{else}

<table id="table-1" cellspacing="0" cellpadding="0" align="center" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2">Campaign Name</td>
    <td nowrap class="columnHeadInactiveBlack">Campaign Start Date</td>
    <!--<td nowrap class="columnHeadInactiveBlack">Campaign Due Date</td>-->
    <td nowrap class="columnHeadInactiveBlack">Progress</td>
    <!--<td nowrap class="columnHeadInactiveBlack">Project Manager</td>-->
    <td nowrap class="columnHeadInactiveBlack table-right-2">Action</td>
    <th class="table-right-corner">&nbsp;&nbsp;&nbsp;</th>
  </tr>
  </thead>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
    <td class="table-left" >&nbsp;</td>
    <td class="table-left-2"><strong><a href="/article/article_keyword_list.php?campaign_id={$item.campaign_id}">{$item.campaign_name}</a></strong></td>
    <td><strong>{$item.date_start|date_format:"%m-%d-%Y"}</strong></td>
    <!--<td><strong>{$item.date_end|date_format:"%m-%d-%Y"}</strong></td>-->
    <td><strong>{$item.progress|string_format:"%.2f"}%</strong></td>
    <!--<td><strong>{$item.project_manager}</strong></td>-->
    <td class="table-right-2"><strong><a href="javascript:void(0)" onclick="openWindow('/client_campaign/campaign_style_guide.php?campaign_id={$item.campaign_id}', 'height=500,width=600,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');"  >Assignment Details</a></strong></td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>

<script type="text/javascript">
//<![CDATA[
{literal}
var st = new SortableTable(document.getElementById("table-1"),
  ["None", "CaseInsensitiveString", "Date", "Date", "Number", "CaseInsensitiveString"]);

st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

st.asyncSort(0);
{/literal}
//]]>
</script>
{/if}
</div>
{include file="themes/$theme/footer.html"}