{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert("{$feedback}");
//-->
</script>
{/if}

{literal}
<script language="JavaScript">
<!--
function check_f_client_campaign()
{
  var f = document.f_client_campaign;
  var opts = document.getElementsByName("fieldnames[]");
  var is_select = false;
  for (var i=0;i<opts.length; i++)
  {
      if (opts[i].value!='skip')
      {
          is_select= true;
      }
  }

 if (is_select == false)
 {
    alert("You must choose mapping field at least one");
    return false;
 }
  
  return true;
}
//-->
</script>
{/literal}

<div id="page-box1">
  <h2>Content Details(Optional)</h2>
  <div id="campaign-search" >
    <strong>Sepcifies for each article - keywords, focus topic, title, intended URL, example URLs, links/words to include, etc</strong>
  </div>
  <div class="form-item" >
<br><table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">
  <form action="/client_campaign/fieldmapping.php?order_id={$order_id}" method="post"  name="f_client_campaign" {if $js_check eq true} onsubmit="return check_f_client_campaign()"{/if}>
  <input type="hidden" name="order_id" value="{$order_id}">
  <tr>
    <td class="bodyBold"><h3>Step 2: Field Mapping</h3></td>
  </tr>
  <tr>
    <td class="bodyBold" colspan="2" >Match the optional field with labels below</td>
  </tr>
  <tr>
    <td class="blackLine" colspan="2"><img src="/image/misc/s.gif"></td>
  </tr>
  {foreach from=$fields item=value key=key}
  <tr>
    <td class="dataLabel">{$value}</td>
    <td>
      <input type="hidden" name="fieldlabels[]" value="{$value}">
      {html_options options=$gfields name="fieldnames[]" selected=$info[$key]}
    </td>
  </tr>
  {/foreach}
  <tr>
    <td class="blackLine" colspan="2" ><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
    {if $login_role == 'client'}
    <input type="button" value="Back" onclick="window.location.href='/client_campaign/uploadfile.php?order_campaign_id={$order_id}'" class="button" />&nbsp;{/if}<input type="submit" value="Next" class="button" />&nbsp; 
    </td>
  </tr>
  </form>
</table>
  </div>
</div>
{include file="themes/$theme/footer.html"}