{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
<script language="JavaScript">
<!--
var acctrole = '{$role}';
{literal}

//-->
</script>
{/literal}
<div id="page-box1">
  <h2>
  Forecast {if $role == 'editor'}Editor{else}Copywriter{/if} Payroll &nbsp;&nbsp;&nbsp;&nbsp;</h2>
  <div id="campaign-search" >
    <div id="campaign-search-box" >
 <form name="f_assign_keyword_return" id="f_assign_keyword_return"  action="{$actionurl}" method="get">
<input type="hidden" name="user_type" value="{$role}" /> 
<table border="0" cellspacing="1" cellpadding="4">
  <tr>
    <td   nowrap>User Keyword</td>
    <td><input type="text" name="keyword" id="search_keyword" value="{$smarty.get.keyword}"></td>
    <td nowrap>Client</td>
    <td><select name="client_id"><option value="">[choose]</option>{html_options options=$client_list  selected=$smarty.get.client_id}</select></td>
    <td nowrap>Campaign</td>
    <td><select name="campaign_id"><option value="">[choose]</option>{html_options options=$campaign_list  selected=$smarty.get.campaign_id}</select></td>
    {*<td nowrap>Show:</td>
    <td nowrap><select name="perPage" onchange="searchAction('f_assign_keyword_return');">{html_options options=$g_pager_perPage selected=$smarty.get.perPage}</select> row(s)</td>*}
    <td nowrap>Month:</td>
    <td><select name="month" onchange="searchAction('f_assign_keyword_return');">{html_options options=$monthes selected=$month}</select></td>
    <td nowrap>User Status:</td>
    <td><select name="status" onchange="searchAction('f_assign_keyword_return');">{html_options options=$users_status selected=$user_status}</select></td>
    <td nowrap><input type="checkbox" name="show_all" id="show_all" onclick="this.form.submit();"  {if $smarty.get.show_all == 'on'} checked {/if}/><label>Show All {if $role == 'copy writer'}Copywriters{else}Editor{/if}</label></td>
    <td colspan="4" nowrap><input type="image" src="/images/button-search.gif" value="submit" onclick="$('f_assign_keyword_return').action='{$actionurl}'" />&nbsp;<input type="submit" value="Export CSV" class="moduleButton" onclick="exportcsv('f_assign_keyword_return')" /></td>
  </tr>
</table><br>
</form>       
    </div>
  </div>
</div>
<div class="tablepadding"> 
<form action="" method="post"  name="f_acct_flow" id="f_acct_flow" >
  <input type="hidden" name="user_id" value="">
  <input type="hidden" name="payment_flow_status" value="">
  <input type="hidden" name="article_ids" value="">
  <input type="hidden" name="month" value="">
  <input type="hidden" name="vendor_id" value=""/>
  <input type="hidden" name="role" id="role"  value="{$role}">
</form>
<table id="table-1" cellspacing="0" align="center" cellpadding="0" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner" rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2" rowspan="2">#</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">User Name</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">First Name</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Last Name</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Email</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Status</td>
    <td nowrap class="columnHeadInactiveBlack" colspan="{$total_type+1}" align="center">Total Words &nbsp;/&nbsp;{$now|date_format:"%B, %Y"}</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Pay Words Total</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Pay Articles Total</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Pay Amount</td>
    <td nowrap class="columnHeadInactiveBlack" rowspan="2">Payment Preference</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2" rowspan="2">&nbsp;</td>
    <th class="table-right-corner" rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>
  <tr class="sortableTab">
    {foreach from=$g_article_types item=item key=key name="loop2"}
    <td class="columnHeadInactiveBlack" nowrap>{$item}</td>
    {/foreach}
    <td class="columnHeadInactiveBlack" >Total</td>
  </tr>
  </thead>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}" id="tr{$item.user_id}" >
    <td class="table-left" >&nbsp;</td>
    {eval var= $startNo+$smarty.foreach.loop.iteration assign='rowNumber'}
    <td class="table-left-2">{$rowNumber}</td>
    <td>{$item.user_name}</td>
    <td>{$item.first_name}</td>
    <td>{$item.last_name}</td>
    <td>{$item.email}</td>
    <td><label {if $item.status == 'Active'}style="color:red"{/if} >{$item.status}</lable>{*if $item.status == 'A'}<label style="color:red" >{$users_status.A}</label>{else}{$users_status.D}{/if*}</td>
    {foreach from=$g_article_types item=type key=key name="loop1" }
    <td id='t{$key}_count_{$item.user_id}' >{$item[$key]}</td>
    {/foreach}
   <td id='gct_count_{$item.user_id}' ><a href="/client_campaign/forecast_keyword_list.php?user_id={$item.user_id}&month={$month}&role={$role}" target="_blank"><font color="red">{$item.gct_count}</font></a>
    <td id='pay_gct_count_{$item.user_id}' >{$item.gct_count}</td>
    <td id='pay_article_count_{$item.user_id}' >{$item.pay_count_article}</td>
    <td>${if $item.payment > 0 || $item.payment_flow_status eq 'paid'}{$item.payment}{elseif $item.pay_amount > 0}{$item.pay_amount}{else}0{/if}</td>
    <td >{$item.payment_preference}{*if $item.pay_pref == ''}n/a{else}{$payment_preferences[$item.pay_pref]}{/if*}</td>
     <td nowrap id="payment_status_{$item.user_id}"  class="table-right-2">
    </td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">Total Pay Amount: ${$total_payment}{*{$pager} (Total Page:{$total})(Total Count:{$count})*}</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
</div>
{literal}
<script type="text/javascript">
//<![CDATA[
var st = new SortableTable(document.getElementById("table-1"),
  ["None", "Number", "CaseInsensitiveString", "CaseInsensitiveString",  "CaseInsensitiveString", "CaseInsensitiveString"]);

st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

function exportcsv(formId)
{
    $(formId).action = '/client_campaign/forecast_payroll_export.php';
}

function searchAction(formId)
{
  $(formId).action = '/client_campaign/forecast_payroll.php';
  $(formId).submit();
}

st.asyncSort(0);
//]]>
</script>
{/literal}
{include file="themes/$theme/footer.html"}