{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
<div id="page-box1">
  <h2>Adjust Keywords for Payment</h2>
  <div id="campaign-search" >
    <strong>You can enter the "keyword","campaign name","company name" etc. into the keyword input to search the relevant campaign's keyword information</strong>
     <div id="campaign-search-box" >
<form name="f_assign_keyword_return" id="f_assign_keyword_return" action="" method="get">
<table border="0" cellspacing="1" cellpadding="4">
  <tr>
  {if $role =='copy writer'}
	<td  nowrap>Copywriter</td>
	<td><select name="user_id"><option value="">[choose]</option>{html_options options=$all_copy_writer selected=$smarty.get.user_id}</select></td>
  <td >Editor</td>
	<td><select name="editor_id"><option value="">[choose]</option>{html_options options=$all_editor selected=$smarty.get.editor_id}</select></td>
  {else if $role = 'editor'}
	<td  nowrap>Copywriter</td>
	<td><select name="copy_writer_id"><option value="">[choose]</option>{html_options options=$all_copy_writer selected=$smarty.get.copy_writer_id}</select></td>
  <td >Editor</td>
	<td><select name="user_id"><option value="">[choose]</option>{html_options options=$all_editor selected=$smarty.get.user_id}</select></td>
  {/if}
	<td  nowrap colspan="5" >Article Type&nbsp;<select name="article_type"><option value="">[choose]</option>{html_options options=$article_type selected=$smarty.get.article_type}</select>&nbsp;Status&nbsp;
    <select name="article_status" id="article_status" ><option value="">[show all]</option>{html_options options=$article_status selected=$smarty.get.article_status}</select>&nbsp;&nbsp;&nbsp;
  </td>
  <td rowspan="2" >
	  <input type="image" src="/images/button-search.gif" value="submit" />
	 </td>
</tr>
<tr>
	 <td  nowrap>Keyword</td>
	 <td   ><input type="text" name="keyword" id="search_keyword"></td>
	<td  nowrap>Month:&nbsp;</td>
	<td><select name="month" onchange="this.form.submit();"><option value="">[choose]</option>{html_options options=$monthes selected=$month}</select>&nbsp;&nbsp;&nbsp;</td>
	 <td  nowrap>Show:</td>
	 <td nowrap>
	 <select name="perPage" onchange="this.form.submit();">{html_options options=$g_pager_perPage selected=$smarty.get.perPage}</select> row(s)&nbsp;&nbsp;&nbsp;
  </td>
    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table><br>
    </div>
  </div>
</div>
<input name="campaign_id" type="hidden" id="campaign_id" value="{$campaign_id}" />
<input name="role" type="hidden" id="role" value="{$role}" />
</form>
<br />
<div class="tablepadding"> 
<table id="table-1" cellspacing="0" cellpadding="0" align="center" class="sortableTable">
  <form action="{$smarty.server.REQUEST_URI}" name="campaign_keyword_list" method="post" />
  <input type="hidden" name="form_refresh" value="N" />
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2">Number</td>
    <td nowrap class="columnHeadInactiveBlack">Keyword</td>
    <td nowrap class="columnHeadInactiveBlack">Article Number</td>
    <td nowrap class="columnHeadInactiveBlack">Status</td>
    <td nowrap class="columnHeadInactiveBlack">Company Name</td>
    <td nowrap class="columnHeadInactiveBlack">Copywriter</td>
    <td nowrap class="columnHeadInactiveBlack">Editor</td>
    <td nowrap class="columnHeadInactiveBlack">Start Date</td>
    <td nowrap class="columnHeadInactiveBlack">Due Date</td>
    <td nowrap class="columnHeadInactiveBlack">Submit Date</td>
    <td nowrap class="columnHeadInactiveBlack">Client Approved Date</td>
    <td nowrap class="columnHeadInactiveBlack">Article Type</td>
    <td nowrap class="columnHeadInactiveBlack">Total Words</td>
    <td nowrap class="columnHeadInactiveBlack">Cost</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2">&nbsp;</td>
    <th class="table-right-corner">&nbsp;&nbsp;&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
    <td class="table-left" >&nbsp;</td>
    <td class="table-left-2">{$smarty.foreach.loop.iteration}</td>
    <td>
	    <a href="/article/approve_article.php?article_id={$item.article_id}&keyword_id={$item.keyword_id}&campaign_id={$item.campaign_id}" target="_blank" onMouseOver="return overlib('<table width=500><tr><td nowrap>Keyword Instructions</td><td >{$item.keyword_description|nl2br|strip|escape:html}</td></tr></table>');" onMouseOut="return nd();">{$item.keyword}</a>
    </td>
    <td>{$item.article_number}</td>
    <td>
    {$article_status[$item.article_status]}
    </td>
    <td>{$item.company_name|truncate:20:"..."}</td>
    <td><a href="javascript:void(0)" onclick="openWindow('/user/user_detail_info.php?user_id={$item.copy_writer_id}', 'height=300,width=400,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');">{$item.uc_name}</a></td>
    <td><a href="javascript:void(0)" onclick="openWindow('/user/user_detail_info.php?user_id={$item.editor_id}', 'height=300,width=400,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');">{$item.ue_name}</a></td>
    <td>{$item.date_start|date_format:"%m-%d-%Y"}</td>
    <td>{$item.date_end|date_format:"%m-%d-%Y"}</td>
    <td>{if $item.article_status == '0' || $item.article_status == ''}n/a{else}{$item.cp_updated|date_format:"%m-%d-%Y"}{/if}</td>
    <td>{if $item.client_approval_date == '' || $item.client_approval_date == '0000-00-00 00:00:00'}n/a{else}{$item.client_approval_date|date_format:"%m-%d-%Y"}{/if}</td>
    <td>{$article_type[$item.article_type]}</td>
    <td>{$item.word_count}</td>
    <td>{$item.article_cost}</td>
    <td align="left" nowrap class="table-right-2">
     </td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}

  </tbody>
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
</form>
</div>
<script type="text/javascript">
//<![CDATA[

var st = new SortableTable(document.getElementById("table-1"),
  [{if $is_pay_adjust != 1}'None',{/if}"Number", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "Date", "Date", "None"]);
{literal}
st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};
st.asyncSort(0);
{/literal}
//]]>
</script>

{include file="themes/$theme/footer.html"}
