  <td>{$index_iteration}</td>
  <td>{$item.user_name}</td>
  <td>{$item.first_name}</td>
  <td>{$item.last_name}</td>
  <td>{$item.email}</td>
  <td>{if $item.status == 'A'}<label style="color:red" >{$users_status.A}<label>{else}{$users_status.D}{/if}</td>
  {foreach from=$g_article_types item=type key=key name="loop1" }
  <td id='t{$key}_count_{$item.user_id}' >{$item[$key]}</td>
  {/foreach}
  <td id='gct_count_{$item.user_id}' ><a href="/client_campaign/keyword_list.php?copy_writer_id={$item.user_id}&month={$month}&is_pay_adjust=1" target="_blank"><font color="red">{$item.gct_count}</font></a></td>
  <td id='pay_gct_count_{$item.user_id}' >{$item.pay_gct_count}</td>
  <td>${if $item.payment > 0 && $item.invoice_status}{$item.payment}{elseif $item.pay_amount > 0}{$item.pay_amount}{else}0{/if}</td>
  <td >{if $item.pay_pref == ''}n/a{else}{$payment_preferences[$item.pay_pref]}{/if}</td>
  <td >{if $item.payment_flow_status eq 'paid'}{$item.payment_flow_status}{else}Not paid{/if}</td>
  <td><select name="month_{$item.user_id}"  onchange="onMonthChange(this, '{$item.user_id}', '0', '{$index_iteration}')" ><option value="">[choose]</option>{html_options options=$monthes selected=$month}</select></td>
   <td nowrap id="payment_status_{$item.user_id}" >
   {if $item.pay_gct_count != 0}
    {if $item.payment_flow_status eq ''}
    <input type="button" class="button" value="Confirm First" onclick="if (confirm('Confirm with copywriter first?')) doAcctFlow('{$item.user_id}', 'ap', '{$item.article_ids}', '{$month}', '{$item.vendor_id}');">
    <input type="button" class="button" value="Approve Now" onclick="if (confirm('Approve without copywriter confirmation?')) doAcctFlow('{$item.user_id}', 'cpc', '{$item.article_ids}', '{$month}', '{$item.vendor_id}');">
    {elseif $item.payment_flow_status eq 'ap'}
    <font color="red">[Awaiting copywriter confirmation]</font>
    <input type="button" class="button" value="Confirm again" onclick="if (confirm('Send confirmation email to copywriter again?')) doAcctFlow('{$item.user_id}', 'ap', '{$item.article_ids}', '{$month}', '{$item.vendor_id}');">
    {elseif $item.payment_flow_status eq 'cpc' &&  $item.vendor_id > 0}
    <input type="button" class="button" value="create bill" onclick="doAcctFlow('create bill netsuite?', '{$item.user_id}', 'cbill', '{$month}', '{$item.vendor_id}');">
    {elseif $item.payment_flow_status eq 'cbill' || $item.payment_flow_status eq 'cpc' && $item.vendor_id == 0}
    <input type="button" class="button" value="mark as paid" onclick="if (confirm('paid?')) doAcctFlow('{$item.user_id}', 'paid', '{$item.article_ids}', '{$month}', '{$item.vendor_id}');">
    {elseif $item.payment_flow_status neq 'paid'}
    <a href="#" target="_self" onMouseOver="return overlib('<table width=300><tr><td nowrap>memo </td></tr><tr><td>{$item.memo|nl2br|strip|escape:html}</td></tr></table>');" onMouseOut="return nd();">disapprove with explanation</a>
    <input type="button" class="button" value="re-approve" onclick="if (confirm('re-approve?')) doAcctFlow('{$item.user_id}', 'ap', '{$item.article_ids}', '{$month}', '{$item.vendor_id}');">
    {/if}
    {if $item.payment_flow_status eq 'paid'||$item.payment_flow_status eq 'cpc'}
    <input type="button" class="button" value="view invoice" onclick="window.open('/client_campaign/cp_invoice.php?user_id={$item.user_id}&month={$month}{*&article_ids={$item.article_ids}*}', 'view_invoice',  'status=yes, width=900, height=400,  left=50,  top=50, scrollbars=yes, resizable=yes');">
    {/if}
  {/if}
  </td>