{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert("{$feedback}");
//-->
</script>
{/if}

{literal}
<script language="JavaScript">
<!--
function check_f_client_campaign()
{
  var f = document.f_client_campaign;
  if (f.uploadfile.value == '') {
    if (f.download_file.value.length == 0)
    {
      alert("Please specify the file");
      f.download_file.focus();
      return false;
    }
  }

  return true;
}
//-->
</script>
{/literal}

<div id="page-box1">
  <h2>Import Keyword from file for {$campaign_name}</h2>
  <div id="campaign-search" >
    <strong>Sepcifies for each article - keywords, focus topic, title, intended URL, example URLs, links/words to include, etc</strong>
  </div>
  <div class="form-item" >
<br><table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">
  <form action="" method="post"  name="f_client_campaign" {if $js_check eq true} onsubmit="return check_f_client_campaign()"{/if} enctype="multipart/form-data">
  <input type="hidden" name="campaign_id" value="{$campaign_id}" />
  <input type="hidden" name="uploadfile" value="{$uploadfile}" />
  <tr>
    <td class="bodyBold"><h3>Step 1: Upload File</h3></td>
  </tr>
  <tr>
    <td class="bodyBold" colspan="2" >
    Upload a csv file with Keyword column, Optional field 1 column, Optinal field 2 column, Optinal field 3 column,  and so on. but you must have the Keyword column.  <br />
    You can use any of the options for the header: Keyword, Focus topic, Category, Tags, Suggested Title, Intended URL, Example URL, Links to include, Words to Include, Notes.
    </td>
  </tr>
  <tr>
    <td class="blackLine" colspan="2"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td class="dataLabel"> Upload Keyword File</td>
    <td><input type="file" name="filename" id="filename" value="" size="60" /></td>
  </tr>
  <tr>
    <td class="blackLine" colspan="2" ><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;
    <input type="submit" value="Next" class="button" />
    </td>
  </tr>
  </form>
</table>
  </div>
</div>
{include file="themes/$theme/footer.html"}