{include file="themes/$theme/header_jump.html"}
{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
<div id="page-box1">
  <h2>{$monthes[$month]|cat:"-01"|date_format:"%B %Y"} Invoice</h2>
  <div class="view-item" >
<table cellspacing="0" cellpadding="4" align="center" class="even" width="99%">
    <tr>
    <td class="requiredInput">Copy Writer:</td><td>{$user_info.first_name} {$user_info.last_name}</td>
    <td class="requiredInput">Invoice Date:</td>
    <td>
	<input name="invoice_date" type="text" id="invoice_date" readonly value="{if $cp_payment_info.invoice_date!='0000-00-00 00:00:00' && $cp_payment_info.invoice_date!=''}{$cp_payment_info.invoice_date}{else}{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}{/if}" />
    </td>
    <td class="requiredInput">Date Paid:</td>
    <td>
     <input name="date_pay" type="text" id="date_pay" readonly value="{if $cp_payment_info.date_pay!='0000-00-00 00:00:00' && $cp_payment_info.date_pay!=''}{$cp_payment_info.date_pay}{else}{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}{/if}" />
     </td>
    </tr>
    <tr>
    <td class="requiredInput">Invoice Number:</td><td><input type="text" readonly name="invoice_no"  value="{$cp_payment_info.user_id}-{$cp_payment_info.month}" readonly /></td>
    <td class="requiredInput">Check/Billing Pay No.:</td><td><input type="text" readonly name="check_no"  value="{$cp_payment_info.check_no}" /></td>
    <td class="requiredInput">Amount Paid:</td><td><input type="text" readonly name="payment"  value="{if $cp_payment_info.payment > 0}{$cp_payment_info.payment}{elseif $report.all.cost > 0}{$report.all.cost}{/if}" {if $cp_payment_info.invoice_status == 1}readonly{/if}/></td>
    </tr>
    <tr>
        <td class="requiredInput">Notes:</td>
        <td colspan="10"><textarea name="notes" id="notes" rows="5" cols="100" readonly >{$cp_payment_info.notes}</textarea></td>
    </tr>
     <tr>
    </tr>
{foreach from=$article_types item=type key=key name="loop" }
    <tr><td class="requiredInput" >Campaign Name:&nbsp;</td>
    <td align="left" ><strong>{$key|regex_replace:"/:\d+/":""}</strong></td></tr>
	{foreach from=$type item=item key=item_key name="loop"}
    {if $item_key neq 'num' || $item_key eq '0'}
    {if $item_key%3 == 0}
    <tr>
    {/if}
    {eval var=$item.campaign_id assign='cid'}
    {eval var=$item.article_type assign='atype'}
    <td class="requiredInput">
    {$item.article_type_name} Article Cost per Word:
    </td>
    <td>
    {* modifed by snug xu 2006-10-27 14:41 - START *}
    ${$item.cost_per_article}
    {* modied by snug xu 2006-10-27 14:41 - FINISHED *}
    </td>
    {if $item_key%3 == 2 || $item_key+1 == $type.num}
    </tr>
    {/if}
    {/if}
	{/foreach}
{/foreach}
    <tr>
    <td align="center" >&nbsp;
    </td>
    <td colspan="2" align="center" >
	    <input type="button" name="print" value="Print Invoice" onclick="window.print();" />
    </td>
    </tr>
    </form>
</table>
  </div>
</div>
<div class="tablepadding"> 
{include file="client_campaign/type_report.html"}
<table id="table-1" cellspacing="0" cellpadding="0" align="center" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2">Number</td>
    <td nowrap class="columnHeadInactiveBlack">Keyword</td>
    <td nowrap class="columnHeadInactiveBlack">Article Number</td>
    <td nowrap class="columnHeadInactiveBlack">Article Title</td>
    <td nowrap class="columnHeadInactiveBlack">Status</td>
    <td nowrap class="columnHeadInactiveBlack">Campaign Name</td>
    <td nowrap class="columnHeadInactiveBlack">Article Type</td>
    <td nowrap class="columnHeadInactiveBlack">Start Date</td>
    <td nowrap class="columnHeadInactiveBlack">Due Date</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2">Cost</td>
    <th class="table-right-corner">&nbsp;&nbsp;&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
    <td class="table-left" >&nbsp;</td>
    <td class="table-left-2">{$smarty.foreach.loop.iteration}</td>
    <td>{$item.keyword}</td>
    <td><a href="/article/article_comment_list.php?article_id={$item.article_id}" target="_blank">{$item.article_number}</a></td>
    <td>{$item.title}</td>
    <td>{$article_status[$item.article_status]}</td>
    <td>{$item.campaign_name|truncate:20:"..."}</td>
    <td>{$item.article_type_name}</td>
    <td>{$item.date_start|date_format:"%m-%d-%Y"}</td>
    <td>{$item.date_end|date_format:"%m-%d-%Y"}</td>
    <td class="table-right-2">{$item.cost_for_article}</td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
  </tbody>
</table>
{* added by snug xu 2006-10-27 19:47 - START *}
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
{* added by snug xu 2006-10-27 19:47 - FINISHED*}
{include file="client_campaign/type_report.html"}
</div>
<script type="text/javascript">
//<![CDATA[
{literal}
var st = new SortableTable(document.getElementById("table-1"),
  ["Number", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "Date", "Date"]);

st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

st.asyncSort(1);
{/literal}
//]]>
</script>
</div>

{include file="themes/$theme/footer_jump.html"}
