{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}

{literal}
<script language="JavaScript">
<!--
var f_common = "document.f_download.";
var f = document.f_download;
function check_f_download() {
  var is_checked;
  var f = document.f_download;
  var ua = document.getElementsByName('isUpdate[]');
  var un = ua.length;

  for (i = 1; i <= un; i++) {
    var is_update_id = 'isUpdate_' + i;
    if (document.getElementById(is_update_id).checked)
    {
        is_checked = true;
    }
  }

  if (!is_checked)
  {
    alert("Please choose images");  
    return false;
  }

  return true;
}

//-->
</script>
{/literal}
<div id="page-box1">
  <h2>Images List</h2>
  <div id="campaign-search" >
    <strong>You can enter the "campaign name","keyword","article content" etc. into the keyword input to search the relevant article's information, And you can download finished images</strong>
     <div id="campaign-search-box" >
<form name="f_assign_keyword_return" id="f_assign_keyword_return" action="{$smarty.server.REQUEST_URI}" method="get">
<input name="campaign_id" type="hidden" id="campaign_id" value="{$campaign_id}" />
<table border="0" cellspacing="1" cellpadding="4">
  <tr>
    <td  nowrap>Keyword</td>
    <td><input type="text" name="keyword" id="search_keyword" size="25"/></td>
    <td  nowrap>SCID</td>
    <td><input type="text" name="subcid" id="subcid" size="25"/></td>
    {*{if $login_role neq 'client' && $login_role neq 'designer'}
      <input name="cp_completed" type="hidden" id="cp_completed" value="{$cp_completed}" />
    	<input type="button" class="button" value="Download Copywriter Complete Images" onclick="downloadCPCompleted()" />
    {else}
      &nbsp;
    {/if}*}
    </td>
    <td>&nbsp;</td>
    <td rowspan="2" ><input type="image" src="/images/button-search.gif" value="submit" onclick="submitFunc()" /></td>
    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td width="10%">&nbsp;</td>
  </tr>
  <tr nowrap>
    <td  nowrap>Submit Date Range:&nbsp;&nbsp;&nbsp;From:</td>
    <td>
<input type="text" name="submit_date_start" id="submit_date_start" size="15" maxlength="10" value="{$smarty.get.submit_date_start}" readonly/>
        <input type="button" class="button" id="btn_cal_submit_date_start" value="...">
        <script type="text/javascript">
        Calendar.setup({ldelim}
            inputField  : "submit_date_start",
            ifFormat    : "%Y-%m-%d",
            showsTime   : false,
            button      : "btn_cal_submit_date_start",
            singleClick : true,
            step        : 1,
            range       : [1990, 2030]
        {rdelim});
        </script>
</td>
<td nowrap  >
        To:
</td>
<td>
<input type="text" name="submit_date_end" id="submit_date_end" size="15" maxlength="10" value="{$smarty.get.submit_date_end}" readonly/>
        <input type="button" class="button" id="btn_cal_submit_date_end" value="...">
        <script type="text/javascript">
        Calendar.setup({ldelim}
            inputField  : "submit_date_end",
            ifFormat    : "%Y-%m-%d",
            showsTime   : false,
            button      : "btn_cal_submit_date_end",
            singleClick : true,
            step        : 1,
            range       : [1990, 2030]
        {rdelim});
        </script>
    </td>
    <td nowrap>Show:<select name="perPage" onchange="this.form.submit();">{html_options options=$g_pager_perPage selected=$smarty.get.perPage}</select> row(s)</td>
    <td width="10%">&nbsp;</td>
  </tr>
</table>
</form>
    </div>
  </div>
</div>
<div class="tablepadding"> 
<br/>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="30" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total}) (Total Count:{$count})</td></tr>
  </table>
</div>
<form action="download_checked_image.php" name="f_download" method="post" {if $js_check eq true}onSubmit="return check_f_download()"{/if}>
<table id="table-1" cellspacing="0" cellpadding="0" align="center" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <td class="table-left-2" ><input type="checkbox" name="Select_All" title="Select All" onClick="javascript:checkAll('isUpdate[]')" /></td>
	<td nowrap class="columnHeadInactiveBlack">No.</td>
	<td nowrap class="columnHeadInactiveBlack">Topic</td>
    <td nowrap class="columnHeadInactiveBlack">Image Number</td>
    <td nowrap class="columnHeadInactiveBlack">Available</td>
    {if $login_role neq 'client'}<td nowrap class="columnHeadInactiveBlack">Designer</td>
    <td nowrap class="columnHeadInactiveBlack">Editor</td>{/if}
    <td nowrap class="columnHeadInactiveBlack">Start Date</td>
    <td nowrap class="columnHeadInactiveBlack">Due Date</td>
    <td nowrap class="columnHeadInactiveBlack">Submit Date</td>
    <td nowrap class="columnHeadInactiveBlack">Status</td>
    <td nowrap class="columnHeadInactiveBlack">SCID</td>
    <td nowrap class="columnHeadInactiveBlack">Latest Download</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2"></td>
  </tr>
  </thead>
  <tbody>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
  <td class="table-left-2">
  <input type="hidden" name="image_id[]" id="image_id_{$smarty.foreach.loop.iteration}" value="{$item.image_id}" />
	<input type="checkbox" name="isUpdate[]" id="isUpdate_{$smarty.foreach.loop.iteration}" value="{$smarty.foreach.loop.iteration}" onclick="javascript:checkItem('Select_All', f_common)" {if $item.image_status eq 5 or $item.image_status eq 4 or $item.image_status eq 6 or ($cp_completed == 1 && $item.image_status)}&nbsp;{else}disabled{/if} /></td>
  {eval var= $startNo+$smarty.foreach.loop.iteration assign='rowNumber'}
    <td>{$rowNumber}</td>
	{if $login_role neq 'client'}
    <td><a href="/graphics/image_set.php?image_id={$item.image_id}&keyword_id={$item.keyword_id}&campaign_id={$item.campaign_id}" >{$item.keyword}</a></td>
	{else}
   <td>
    <a href="/graphics/approve_image.php?keyword_id={$item.keyword_id}&image_id={$item.image_id}" >{$item.keyword}</a>
    </td>{/if}
    <td>{if $item.image_id neq 0}<a href="image_review.php?image_id={$item.image_id}" >{$item.image_number}</a>{else}{$item.image_number}{/if}</td>
    <td>{if $item.image_id neq 0}<font color="red">&radic;</font>{else}&times;{/if}</td>
    {if $login_role neq 'client'}<td>{$item.uc_name}</td>
    <td>{$item.ue_name}</td>{/if}
    <td>{$item.date_start|date_format:"%m-%d-%Y"}</td>
    <td>{$item.date_end|date_format:"%m-%d-%Y"}</td>
    <td>{if $item.image_status == '0' || $item.image_status == ''}n/a{else}{$item.cp_updated|date_format:"%m-%d-%Y"}{/if}</td>
    <td>{$image_status[$item.image_status]}</td>
    <td>{$item.subcid}</td>
    <td>{if $item.curr_dl_time neq '0000-00-00 00:00:00'}{$item.curr_dl_time|date_format:"%m-%d-%Y"}{/if}</td>
    <td nowrap class="table-right-2">
     {if $item.image_status eq 5 or $item.image_status eq 4 or $item.image_status eq 6 or ($cp_completed == 1 && $item.image_status)}
     <a href='/graphics/image_download.php?image_id={$item.image_id}'>Download</a>
     {/if}
    </td>
  </tr>
  {/foreach}
  </tbody>
  <tr>
  <td colspan="4" align="right" class="table-left-2"></td>
    <td {if $login_role eq 'client'}colspan="7"{else}colspan="9"{/if} align="left" nowrap class="table-right-2">
    <a href='/graphics/download_campaign.php?mode=zip{$qstring}'>Download ALL completed images(zip)</a>
  </td>
  </tr>
  <tr>
    <td class="table-left-2"  align="right" colspan="4" ></td>
    <td align="left" {if $login_role eq 'client'}colspan="11"{else}colspan="14"{/if} class="table-right-2"><input type="submit" class="button" value="Download ALL checked images(zip)" />&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </form>
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total}) (Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
{literal}
var st = new SortableTable(document.getElementById("table-1"),
  ["None", "None", "Number","CaseInsensitiveString","CaseInsensitiveString", "None", "CaseInsensitiveString", "CaseInsensitiveString", "Date", "Date", "CaseInsensitiveString", "Date", "None"]);

st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

st.asyncSort(1);
function downloadCPCompleted()
{
  $('cp_completed').value = 1;
  $('image_status').value = 1;
  $('f_assign_keyword_return').submit();
}
function submitFunc()
{
  if ($('image_status').value!=1)
  {
    $('cp_completed').value = 0;
  }
}
{/literal}
//]]>
</script>

{include file="themes/$theme/footer.html"}