{include file="themes/$theme/header.html"}

<link rel="stylesheet" type="text/css" href="spell_checker/spell_checker/css/spell_checker.css">
<script src="spell_checker/spell_checker/cpaint/cpaint2.inc.compressed.js" type="text/javascript"></script>
<!-- You can use either one of the files below, but the compressed one
     will be faster and a lot smaller to download -->
<script src="spell_checker/spell_checker/js/spell_checker_compressed.js" type="text/javascript"></script>
<!--<script src="js/spell_checker.js" type="text/javascript"></script>-->
{if $feedback ne ''}
<script language="JavaScript" type="text/javascript">
<!--
alert("{$feedback}");
//-->
</script>
{/if}
{literal}
<style type="text/css">
.disabled_input { border-right: #000033 1px solid; border-top: #000033 1px solid; font-size: 14px; background-color:#ffffee; border-left: #000033 1px solid; border-bottom: #000033 1px solid }
/*
.disabled_input { border-right: #000033 0px solid; border-top: #000033 0px solid; font-size: 12px; border-left: #000033 0px solid; border-bottom: #000033 0px solid; background:background-color}
*/
</style>
<script language="JavaScript"  type="text/javascript">
{/literal}
{if $login_role neq 'client'}
{literal}
<!--
// var WSCCorePath = "/js/tiny_mce/plugins/wsc/sproxy/sproxy.php?cmd=script&doc=wsc&plugin=tinymce3";
tinyMCE.init({
mode : "exact",
theme : "advanced",
elements : "richtext_body",
extended_valid_elements : "iframe[src|width|height|name|align]",
relative_urls : false,
remove_script_host : false,
theme_advanced_toolbar_location : "top",
theme_advanced_toolbar_align : "left",
atd_button_url: "/js/tiny_mce/plugins/AtD/atdbuttontr.gif",
atd_rpc_url: "/js/tiny_mce/plugins/AtD/server/proxy.php?url=",
atd_rpc_id: {/literal}"{$atd_key}"{literal},
atd_css_url: "/js/tiny_mce/plugins/AtD/css/content.css",
atd_show_types: "Bias Language,Cliches,Complex Expression,Diacritical Marks,Double Negatives,Hidden Verbs,Jargon Language,Passive voice,Phrases to Avoid,Redundant Expression",
atd_ignore_strings: "AtD,rsmudge",
atd_ignore_enable: "false",
//wsc_popup_title :"Custom Popup Title",
//wsc_lang :"en_US",
//plugins : "spellchecker,searchreplace,charcount,paste,wordcount,advimage,AtD,media,wsc,inlinepopups",
//theme_advanced_buttons1 : "bold,italic,underline, separator,forecolor ,separator,search,replace,separator, code, separator, wsc, separator,AtD,charcount",
plugins : "spellchecker,searchreplace,charcount,paste,wordcount,advimage,AtD,media",
theme_advanced_buttons1 : "bold,italic,underline, separator,forecolor ,separator,search,replace,separator, code, separator,AtD,charcount",
theme_advanced_buttons1_add_before: "media,image,undo,redo,paste,pastetext,pasteword,selectall,separator,hr,link,unlink,separator, formatselect, bullist,numlist,outdent,indent,justifyleft,justifycenter,justifyright",
theme_advanced_buttons2 :"",
theme_advanced_buttons3 : "",
paste_auto_cleanup_on_paste : true,
directionality: "ltr",
force_br_newlines : "false",
force_p_newlines : "true",
debug : false,
cleanup : true,
cleanup_on_startup : false,
safari_warning : false,
paste_preprocess : function(pl, o) {
    // Content string containing the HTML from the clipboard
    o.content = o.content;
},
paste_postprocess : function(pl, o) {
    // Content DOM node containing the DOM structure of the clipboard
    o.node.innerHTML = o.node.innerHTML;
},
setup: function(ed) {
  var text = "";
  var wordcount = false;
  var total_word = 0;
  var max_word = $('max_word').value;
  var check_word = parseInt(max_word);
  if (isNaN(check_word)) {
    check_word = 0;
  }
  ed.onKeyUp.add(function(ed, e) {
    if (!wordcount) {
            wordcount = addWordCount(ed);
    }
    total_word = getEditorCount(ed);

    if (total_word < max_word && check_word > max_word || total_word + 1< check_word) {
      check_word = max_word;
    }

    if (check_word > 0 && total_word > 0&& (total_word - check_word) >= 50) {
        //alert("You have exceeded the word limit");
        check_word = total_word + 1;
    }
  });
  ed.onLoadContent.add(function(ed,e) {
    if (!wordcount) {
            wordcount = addWordCount(ed);
    }
    getEditorCount(ed);});
}
});

{/literal}
{/if}
{literal}
var login_role = "{/literal}{$login_role}{literal}";
function check_f_article()
{
    var f = document.f_article;
    if (login_role != 'client')
    {
        if (f.title.value.length == 0 && f.approve_action.value != 'autotemp') {
          alert('Please provide title of the article');
          f.title.focus();
          return false;
        }
        if (f.approve_action.value != 'autotemp')
        {
        {/literal}
        {$jsCode[0]}
        {literal}
        }
	    tinyMCE.triggerSave(false,false);
	    if (f.richtext_body.value.length == 0 && f.approve_action.value != 'autotemp') {
            alert('Please enter the content of the article');
	        f.richtext_body.focus();
	        return false;
	    }
      {/literal}
      {if $jsCode[1]}
      {literal}
      content = getTextFromHtml(f.richtext_body.value);
      var len  = content.length;
      if (len && f.approve_action.value != 'autotemp') {
      {/literal}
        {$jsCode[1]}
      {literal}
      }
      {/literal}
      {/if}
      {literal}
	    f.temp_body.value = f.richtext_body.value;//firefox;
	    //tinyMCE.updateContent('f_article');
    }
    else
    {
	    if (f.body.value.length == 0) {
	    alert('Please enter the content of the article');
	    f.comment.focus();
	    return false;
	    }
	    f.temp_body.value = f.body.value;//firefox;
    }
    return true;
}

function editArticle()
{
   if ($("edit_or_cancle").value == 'Edit Article')
   {
     //document.getElementById("body2").disabled=false;
     $("richtext_body").readOnly=false;
     $("richtext_body").className="";
     $("edit_or_cancle").value="Cancel";
     $("is_edit").value="do_edit";
   } else {
     //document.getElementById("body2").disabled=true;
     $("richtext_body").readOnly=true;
     $("richtext_body").className="disabled_input";
     $("edit_or_cancle").value="Edit Article";
     $("is_edit").value="cancle_edit";
   }
}

function doAction(action, url)
{
    if (action == 'reject' && login_role == 'client') {
        if ($('rejectedButton').innerHTML == 'Request Revision'){
          var str = 'Do you wish to have this piece revised? \n\nNot a problem! Before confirming, please assure the following:\n\n-  Have you thoroughly read the entire piece and provided detailed feedback within the commentary section? \n\nWe have found clients who provide writers with thorough, specific feedback receive delivery faster and are 90% more satisfied with the end result than those who do not.\n\n-  Are the changes being requested in addition or deviates from the information provided to us in the pre-production processes? i.e. client questionnaire, samples, outlines, etc. If so, additional charges may accrue.\n\nThank you!';
          if (!confirm(str, 'YES', 'NO')) {
              $('rejectedButton').disabled = true;
              $('rejectedButton').addClassName('disabledbutton');
              return false;
          } else {
            $('rejectedButton').innerHTML = 'Send Request';
          }
        }
    }
    if (action!='qa' && action != 'reject' && action != 'temp' && action != 'autotemp' && action != 'approval' && action != 'submit' && action != 'save' && action != 'force' && action != 'forcec' && action != 'forcecr' && action != 'force reject' && action != 'publish' && action != '1gc' && action != '1gd') {
       alert('Please sign in this system');
       return false;
    }


    $("approve_action").value = action;
    if (!check_f_article())  {
      saveTimmer();
	    return false;
    }
    var f = document.f_article;

    if (login_role == 'editor' && action!='qa' && action != 'temp' && action != 'autotemp') {

      var structure = jQuery('#' + ratingDivId + " input[name='structure']:checked").val() || 0;
      
    }
    if (login_role != 'client') {
        tinyMCE.triggerSave(false,false);
        f.temp_body.value = f.richtext_body.value;//firefox;
        //tinyMCE.updateContent('f_article');
        if (login_role == 'editor') {
            if (f.article_status.value == '1gc' && (action=='reject' || action=='approval') || action == 'force' && (f.article_status.value=='2' || f.article_status.value=='1gd') || action == 'reject' && (f.article_status.value=='1gd' || f.article_status.value=='4')) {
                if (action=='reject' && (f.article_status.value == '1gc' || f.article_status.value=='4' || f.article_status.value=='1gd') && f.comment.value == '') {
                    alert('Please comment on article, before rejecting it');
                    f.comment.focus();
                    return false;                
                }
                if (action == 'force' && f.article_status.value=='1gd' && f.comment.value == '') {
                    alert('Please comment on article, before approving it');
                    f.comment.focus();
                    return false;       
                }

                if ((f.article_status.value == '1gc' && action=='approval' || action == 'force' && (f.article_status.value=='2' || f.article_status.value=='1gd'))) {
                  var rankings = f.ranking;
                  var is_ranked = false;
                  for(var i=0;i<rankings.length;i++) {
                    if (rankings[i].checked){
                      is_ranked = true;break;
                    }
                  }
                  if (!is_ranked){
                    alert('Please add the article rating');return false;
                  }
                }
                /*if ((f.article_status.value == '1gc' && action=='approval' || action == 'force' && (f.article_status.value=='2' || f.article_status.value=='1gd')) && !isObjectOrNot(f.ranking_id)) {
                    //alert('Please rate the article before approving or requesting edit of this article');
                    //alert('Please rate the article before approving of this article');
                    {/literal}
                    //showWindowDialog('/client_campaign/article_ranking_pop.php?user_id='+{$keyword_info.copy_writer_id}+'&campaign_id=' + {$keyword_info.campaign_id} + '&article_id=' + {$keyword_info.article_id}+ '&keyword_id=' + {$keyword_info.keyword_id});
                    $('post_action').value = action;
                    showWindowRatingDialog('article-rating-div');
                    {literal}
                    f.add_ranking.focus();
                    return false;
                }*/
            }
        }
    } else {
        f.temp_body.value = f.body.value;//firefox;
        if (action == 'reject' && f.comment.value == '') {
            alert('Please comment on article, before rejecting it');
            f.comment.focus();
            return false;
        }

    }
	//document.forms['f_article'].submit();
//    document.getElementById('f_article').submit();
    if (action == 'force') {
        if (f.article_status.value == 0 && confirm('Will approve even if copywriter has not submitted article. Continue?')) {
            $('f_article').submit();
        } else if (f.article_status.value == 1 && confirm('Article has not been google-checked. Continue?')) {
            $('f_article').submit();
        } else if (f.article_status.value != 1 && f.article_status.value != 0 && confirm("Do you want to force approve this article?")) {
            $('f_article').submit();
        } else {
           $('comment').focus();
           return false;
        }
        return true;
    }
    if (action == 'publish') {
        f.article_status.value = 6;
        $('f_article').submit();
    }
    if( action == 'approval' ) {
        if (f.article_status.value == '1gd') {
            if (confirm("This article wasn't passed google checking.\nAre you sure this article is  not duplicated?")) {
                $('f_article').submit();
            } else {
               $('comment').focus();
               return false;
            }
        } else {
            $('f_article').submit();
        }
    } else {
        if (f.article_status.value == '1' && (action == '1gc' || action == '1gd'))  {
               $("approve_action").value = action;
              Element.show('show_result');
        } else {
          if (action == 'save') {
              $("approve_action").value = 'temp';
              Element.show('show_result');
          }
          if (action == 'reject') {
              if (login_role != 'client') {
                  f.article_status.value = 2;
              } else  {
                  f.article_status.value = 3;
              }
              Element.show('show_result');
          }
        }

        new Ajax.Updater (
            'show_status',
             url, 
             {
                 method:'post',  
                 parameters: Form.serialize('f_article'),
                 evalScripts:true,
                 asynchronous: false,
                 onComplete:showResult
             }
        );
        saveTimmer();
        return true;
     }
     return true;
}

function showResult()
{
	Element.hide('show_result');
	Element.show('show_shape_end');
}

function saveTimmer()
{
  setTimeout("doAction('autotemp','{/literal}{$url}{literal}')", 300000);//1000 = 1 second
}

{/literal}
{if $keyword_info.article_status neq '5' && $keyword_info.article_status neq '6' &&  $keyword_info.article_status neq '99'}
saveTimmer();
{/if}
{literal}
function doRating(url, user_id, keyword_id, article_id, campaing_id)
{
    if (user_id > 0 && article_id > 0 && keyword_id > 0 && campaing_id > 0) {
        if (url != '') {
          if (doAction('autotemp', url)) {
            window.location.href='/client_campaign/article_ranking.php?user_id='+user_id+'&campaign_id='+campaing_id+'&article_id='+article_id+'&keyword_id='+keyword_id;
          }
        } else {
            window.location.href='/client_campaign/article_ranking.php?user_id='+user_id+'&campaign_id='+campaing_id+'&article_id='+article_id+'&keyword_id='+keyword_id;
        }
    } else if (user_id == 0 || user_id == '') {
        alert('Please assign the article to one copy writer first.');
        return false;
    } else if (article_id == 0 || article_id == '') {
        alert('Please specify the article to rate');
        return false;
    }
}
function checkRated(obj)
{
    var form = document.f_article;
    if (typeof obj == 'string') 
        obj = form.elements[obj];
    for (var i=0; i < obj.length; i++)
    {
        obj[i].disabled = !(obj[i].disabled);
    }
}
function addGeneralNote(note_id) {
    if (note_id != 0)
    {
        //var div_id = eval("general_note_"+note_id);
        var div_id = "general_note_"+note_id;
        var note_body = htmlSpecialCharsDecode($(div_id).innerHTML);
        var old_comment = $("comment").value;
        if (old_comment == '') {
            $("comment").value = note_body;
        } else {
            $("comment").value = $("comment").value+"\n"+note_body;
        }
    }
}
function htmlSpecialCharsDecode(str) {
    var r = new RegExp("<br[ ]*[/]?>", "ig");
    str = str.replace(new RegExp("&amp;", "gi"), "&");
    str = str.replace(new RegExp("&quot;", "gi"), "\"");
    str = str.replace(new RegExp("&#039;", "gi"), "\'");
    str = str.replace(new RegExp("&lt;", "gi"), "<");
    str = str.replace(new RegExp("&gt;", "gi"), ">");

    str = str.replace("\r\n", "\n");
    str = str.replace(r, "\n");
    str = str.replace(new RegExp("\n+", "g"), "\n");
    return str;
}
//-->
</script>
<script>
function stop() {
    alert("The ranking quotiety is EMPTY! Please set it in System Setting!");
   // $("lsf").href = "#";
}
function jump() {
$("lsf").href = "/client_campaign/article_campaign_ranking.php?copywriter_id={$keyword_info.copy_writer_id}&campaign_id={$keyword_info.campaign_id}&article_id={$keyword_info.article_id}&keyword_id={$keyword_info.keyword_id}";
}

function clientReadyPost(aid, status)
{
    ajaxAction('/article/change_client_ready.php?aid='+aid + '&status=' + status, 'show_result');
}

</script>
{/literal}
{if $login_role neq 'client'}
<link href='/js/rating/jquery.rating.css' type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/js/rating/jquery.rating.js"></script>
<script type="text/javascript" src="/js/rating/jquery.rating.function.js"></script>
{/if}
<div class="loadingajax" style="display:none;z-index:1000" id="show_result"  align="center" valign="center" >Loading...</div>
<div id="page-box1" >
  <h2>Approve article</h2>
  <strong>{if $login_role eq 'client'}
<p>Are we ready to review this piece?</p>
<p style="background-color:#fceebf; padding:10px; line-height:25px; width:960px;-moz-border-radius: 5px;border-radius: 5px;">Great! Be sure to review the piece thoroughly, making note of all your feedback in the space provided below. Upon completion, please click the "Save" button to assure all of your feedback has been recorded.
If you're pleased with the content here, simply click "Approve!"
Does the piece need a bit of tweaking? Not a problem! We've got you covered! Just click the "Revise" button below and remember to record your feedback in the space provided!
Thank you.</p>
 {else}{/if}</strong> <br />
  <div class="pageposition" >
  <table width="100%"  class="formClass" ><tr><td valign="top">
  <div id="page-left">
  <form action="#" method="post"  name="f_article" id="f_article" {if $js_check eq true} onsubmit="return check_f_article()"{/if}>
    <input type="hidden" name="max_word" id="max_word" value="{$keyword_info.max_word}" />
    <input type="hidden" name="pay_type" id="pay_type" value="{$keyword_info.pay_type}" />
    <input type="hidden" name="refererby" value="{$refererby}" />
    <input type="hidden" name="keyword_id" value="{$keyword_info.keyword_id}" />
    <input type="hidden" name="client_id" value="{$keyword_info.client_id}" />
    <input type="hidden" name="campaign_id" value="{$keyword_info.campaign_id}" />
    <input type="hidden" name="article_id" value="{$keyword_info.article_id}" />
    <input type="hidden" name="article_status" id="article_status" value="{$keyword_info.article_status}" />
    <input type="hidden" name="approve_action" id="approve_action" value="temp" />
    <input type="hidden" name="is_edit" id="is_edit" value="cancle_edit" />
    <input type="hidden" name="is_paintext" id="is_paintext" value="0" />
    <input type="hidden" name="action_status" id="action_status" value="{$keyword_info.action_status}" />
    <input type="hidden" name="language" id="language" value="{$keyword_info.language}" />
    <input type="hidden" name="temp_body" id="temp_body">
    {if $login_role eq 'client'}
    <input type="hidden" name="opt" id="opt" value="{$opt}" />
    {/if}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%" border="1">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Article Title</strong></td>
      <td align="left">    {if $login_role neq 'client'}
      {if $keyword_info.title_param == '1'}
    <input type="text" name="title" id="title" size="100" value="{$keyword_info.title}" />
      {else}
    <input type="text" name="title" id="title" size="100" value="{if $keyword_info.title != ''}{$keyword_info.title}{else}{$keyword_info.keyword}{/if}"/>
      {/if}
    {else}
    {$keyword_info.title}
    <input type="hidden" name="title" id="title" value="{$keyword_info.title}" />
    {/if}
    {if $is_show_extra_info}
      <a href="javascript:void(0)" onclick="openWindow('/article/article_extra_info.php?cid={$keyword_info.campaign_id}&article_id={$keyword_info.article_id}', 'height=700,width=720,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');" >Add Additional Meta Info</a>
    {/if}</td>
      </tr>
    </tbody></table> 
  </div>
  <input type="hidden" name="html_title" id="html_title" size="100" value="{$keyword_info.html_title}" />
  {*<div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Html Title Tag</strong></td>
      <td align="left">{if $keyword_info.title_param == '1'}
      <input type="text" name="html_title" id="html_title" size="100" value="{$keyword_info.html_title}" />
      {else}
      <input type="text" name="html_title" id="html_title" size="100" value="{if $keyword_info.html_title != ''}{$keyword_info.html_title}{else}{$keyword_info.keyword}{/if}" readonly />
      {/if}</td>
      </tr>
    </tbody></table> 
  </div>*}
  {if $custom_fields}
  {foreach from=$custom_fields item=item key=key name='loop'}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>{$item.label}:&nbsp;</strong></td>
      <td align="left">
       {if $login_role neq 'client'}
       <input type="text" name="{$key}" id="{$key}" size="100" value="{$keyword_info[$key]}" />
       {else}
       <input type="hidden" name="{$key}" id="{$key}" value="{$keyword_info[$key]}" />
       {$keyword_info[$key]|default:'n/a'}
       {/if}
      </td>
      </tr>
    </tbody></table> 
  </div>
  {/foreach}
  {/if}
  {if $is_show_url_category}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Url Category</strong></td>
      <td align="left"><input type="text" name="url_category" id="url_category" size="100" value="{$keyword_info.url_category}" /></td>
      </tr>
    </tbody></table> 
  </div>
  {/if}
  {if $keyword_info.meta_param == '1'}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Meta Keywords</strong></td>
      <td align="left"><input type="text" name="keyword_meta" id="keyword_meta" value="{$keyword_info.keyword_meta}" size="100"/></td>
      </tr>
    </tbody></table> 
  </div>
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="80%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Meta Description</strong></td>
      <td align="left"><textarea name="description_meta" id="description_meta" style="width: 550px; height: 60px;" >{$keyword_info.description_meta}</textarea></td>
      </tr>
    </tbody></table> 
  </div>
  {/if}
  {if $login_role neq 'client'}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" valign="top" class="form-label"><strong>Article Content</strong></td>
      <td align="left">
      <div id="contentdiv" >
      <textarea name="richtext_body" id="richtext_body" style="width: 860px; height: 400px;" >{if $keyword_info.richtext_body == ''}{$keyword_info.body|nl2br}{else}{$keyword_info.richtext_body}{/if}</textarea>
      </div>
      </td>
      </tr>
    </tbody></table> 
  </div>
  {else}
  {*<div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Word Count</strong></td>
      <td align="left"><input type="text" class="disabled_input" name="word_count" id="word_count" value="0" size="90"   onkeyup="CountWords($('body'), true, true);" readOnly  class="disabled_input"/></td>
      </tr>
    </tbody></table>
  </div> *}
  {if $keyword_info.tags}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"  style="width:50px" ><strong>Tags</strong></td>
      <td align="left">{$keyword_info.tags}</td>
      </tr>
    </tbody></table> 
  </div>
  {/if}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" valign="top" class="form-label"><strong>Article Content</strong></td>
      <td align="left">
        <div id="div_body_test" ></div>
        <input type="hidden" name="richtext_body" id="richtext_body" 
        value="{if $keyword_info.richtext_body == ''}{$keyword_info.body|nl2br}{else}{$keyword_info.richtext_body|escape:"html"}{/if}" />
        <input type="hidden" name="body" id="body" value="{if $keyword_info.richtext_body == ''}{$keyword_info.body|escape:"html"}{else}{$keyword_info.richtext_body|escape:"html"}{/if}" />
        <div style="width: 700px; height: 400px;overflow:auto;color:#000000;background:#ffffff;">{if $keyword_info.richtext_body == '' }{$keyword_info.body|nl2br}{else}{$keyword_info.richtext_body}{/if}</div></td>
      </tr>
    </tbody></table> 
  </div>
  {*
  {literal}
  <script type="text/javascript" >
  <!--
  CountWords($('body'), true, true);
  function CountWords (this_field, show_word_count, show_char_count) 
  {

    if (show_word_count == null) {
      show_word_count = true;
    }

    if (show_char_count == null) {
      show_char_count = false;
    }
    
    var fullStr = this_field.value;
    
    fullStr = fullStr.replace(new RegExp('</p>', 'gi'), '</p>\n');
    fullStr = fullStr.replace(new RegExp('</div>', 'gi'), '</div>\n');
    fullStr = fullStr.replace(new RegExp('<br[ ]?[/]?>', 'gi'), '<br />\n');
    

    fullStr = fullStr.stripTags();
    fullStr = fullStr.unescapeHTML();
    fullStr = fullStr.replace("\r\n", "\n", 'gi');

    var char_count = fullStr.length - 1;
    

    fullStr += " ";
    fullStr = fullStr.replace("\n", " ", 'gi');
    fullStr = fullStr.replace(/[ ]+/gi, ' ');

    fullStr = fullStr.replace(/^[^A-Za-z0-9]+/gi, "");
    var splitString = fullStr.split(" ");
    var word_count = splitString.length - 1;
    
    if (fullStr.length < 2) {
      word_count = 0;
    }

    if (word_count == 1) {
      wordOrWords = " word";
    } else {
      wordOrWords = " words";
    }

    if (char_count == 1) {
      charOrChars = " character";
    } else {
      charOrChars = " characters";
    }

    if (show_word_count & show_char_count) {
         $('word_count').value=word_count + wordOrWords  + " " + char_count + charOrChars;
    } else {

      if (show_word_count) {
          $('word_count').value=word_count + wordOrWords;
      } else {
        if (show_char_count) {
          $('word_count').value=char_count + charOrChars;
        }
      }
    }
    //return word_count;
  }
  -->
  </script>
  {/literal}*}
  {/if}
  {if $keyword_info.article_status neq '99'}
  {if $login_role neq 'client' && $keyword_info.show_cp_bio eq '1'}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label" valign="top"><strong>Author Bio</strong></td>
      <td align="left"><textarea name="cp_bio" style="width: 700px; height: 160px;" id="cp_bio" id="cp_bio">{$keyword_info.cp_bio}</textarea></td>
      </tr>
    </tbody></table> 
  </div>
  <script language="JavaScript">tinyMCEInit('cp_bio')</script>
  {/if }
  {if $keyword_info.template eq '2'}
  <div class="form-item" >
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" valign="top" class="form-label"><strong>Small Image</strong></td>
      <td align="left">{if $login_role neq 'client' }<input type="text" size="100"  name="small_image" id="small_image" 
        value="{$keyword_info.small_image}" />{else}{if $keyword_info.small_image}<img src="{$keyword_info.small_image}" />{/if}{/if}</td>
      </tr>
      <tr>
      <td align="right" valign="top" class="form-label"><strong>Large Image</strong></td>
      <td align="left">{if $login_role neq 'client' }<input type="text" size="100" name="large_image" id="large_image" 
        value="{$keyword_info.large_image}" />{else}{if $keyword_info.large_image}<img src="{$keyword_info.large_image}" />{/if}{/if}</td>
      </tr>
      <tr>
      <td align="right" valign="top" class="form-label"><strong>Image Credit</strong></td>
      <td align="left">{if $login_role neq 'client' }<input type="text" size="100"  name="image_credit" id="image_credit" 
        value="{$keyword_info.image_credit}" />{else}{$keyword_info.image_credit}{/if}</td>
      </tr>
      <tr>
      <td align="right" valign="top" class="form-label"><strong>Image Caption</strong></td>
      <td align="left">{if $login_role neq 'client' }<input type="text" size="100"  name="image_caption" id="image_caption" 
        value="{$keyword_info.image_caption}" />{else}{$keyword_info.image_caption}{/if}</td>
      </tr>
      <tr>
      <td align="right" valign="top" class="form-label"><strong>Blurb</strong></td>
      <td align="left">{if $login_role neq 'client' }<textarea name="blurb" style="width: 700px; height: 160px;"  id="blurb">{$keyword_info.blurb}</textarea>{else}{$keyword_info.blurb|nl2br}{/if}</td>
      </tr>
      <tr>
      <td align="right" valign="top" class="form-label"><strong>Meta description</strong></td>
      <td align="left">{if $login_role neq 'client' }<input type="text" size="100" name="meta_description" id="meta_description" 
        value="{$keyword_info.meta_description}" />{else}{$keyword_info.meta_description}{/if}</td>
      </tr>
      <tr>
      <td align="right" valign="top" class="form-label"><strong>Category</strong></td>
      <td align="left">{if $login_role neq 'client' }<select id="category_id" name="category_id" ><option value="" >[choose]</option>{html_options options=$image_categories selected=$keyword_info.category_id}</select>{else}{if $keyword_info.category_id > 0}{$image_categories[$keyword_info.category_id]}{/if}{/if}</td>
      </tr>
    </tbody></table> 
  </div>
  {/if}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody>
	  <tr>
      <td align="right" class="form-label" valign="top"><strong>{if $login_role eq 'client'}Tell us what you think{else}Comments{/if}</strong></td>
      <td align="left"><textarea name="comment" style="width: 700px; height: 160px;" id="comment" id="comment">{$smarty.post.comment|default:$autocomment}</textarea></td>
      </tr>
      {if $login_role eq 'client' &&  $keyword_info.article_status neq '5' && $keyword_info.article_status neq '6'}
      <tr><td></td><td align="right"><input type="button"  class="button" value="Save" onclick="doAction('save', '{$url}' );">&nbsp;</td></tr>
      {/if}
    </tbody></table> 
  </div>
  {/if}

  {if $keyword_info.template eq '3' && $login_role neq 'client'}
  <div class="form-item" >
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody>
      <tr>
      <td align="right" valign="top" class="form-label"><strong>Blurb</strong></td>
      <td align="left">{if $login_role neq 'client' }<textarea name="blurb" style="width: 700px; height: 160px;"  id="blurb">{$keyword_info.blurb}</textarea>{else}{$keyword_info.blurb|nl2br}{/if}</td>
      </tr>
	  {*
	  <tr>
      <td align="right" class="form-label" valign="top"><strong>Optional Field</strong></td>
      <td align="left"><textarea name="optional_field" style="width: 700px; height: 160px;" id="optional_field" id="optional_field">{$keyword_info.optional_field}</textarea></td>
      </tr>
	  *}
    </tbody></table> 
  </div>
  {/if}

  {if $login_role neq 'client' && $keyword_info.article_status neq '99'}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Select General Editorial Notes</strong></td>
      <td align="left"><select id="general_note_subject" name="general_note_subject" onchange="addGeneralNote(this.value)">{html_options options=$general_note_subjects}</select></td>
      </tr>
    </tbody></table> 
  </div>
    {if $general_note_bodies neq ''}
      {foreach from=$general_note_bodies item=note_body key=note_id name=general_notes}
        <div style="display:none" id="general_note_{$note_id}" name="general_note_{$note_id}">{$note_body|nl2br}</div>
      {/foreach}
    {/if}
    {if $keyword_info.body neq '' }
    {if $login_role eq "admin" || $login_role eq "editor" && ($keyword_info.article_status != '0' && $keyword_info.article_status != '1' )}
  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Rate the Article</strong></td>
      <td align="left"> 
        <div id="articleRatingButtonDiv" >
        {*{if $ranking neq '' && $ranking neq 0 }
          <input type="hidden"  name="ranking" id="ranking" value="{$ranking}" />
          <input type="hidden"  name="ranking_id" id="ranking_id" value="{$ranking_id}" />
          <input type="button" name="modify_ranking" id="modify_ranking" value="Update Rating" onclick="javascript:doRating('{if $keyword_info.article_status neq '5' && $keyword_info.article_status neq '6'}{$url}{/if}', {$keyword_info.copy_writer_id}, {$keyword_info.keyword_id}, {$keyword_info.article_id}, {$keyword_info.campaign_id});"/>
          &nbsp;&nbsp;&nbsp;&nbsp;Score: &nbsp;{$ranking}
        {else}
          <input type="button" name="add_ranking" id="add_ranking" value="Add Rating"  onclick = "javascript:doRating('{if $keyword_info.article_status neq '5' && $keyword_info.article_status neq '6'}{$url}{/if}', {$keyword_info.copy_writer_id}, {$keyword_info.keyword_id}, {$keyword_info.article_id}, {$keyword_info.campaign_id});" /><input type="button" name="add_ranking" id="add_ranking" value="Add Rating"  onclick = "javascript:showWindowRatingDialog('article-rating-div');" />
	     {/if}*}
       <input type="hidden"  name="ranking_id" id="ranking_id" value="{$ranking_id}" />
       <input type="hidden"  name="user_id" id="user_id" value="{$keyword_info.copy_writer_id}" />
      {foreach from=$rankings item=v}
      <input type="radio" name="ranking" class="star" value="{$v}"  {if $ranking == $v}checked{/if}  />
      {/foreach} 
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://community.copypress.com/copypress-writers-guide/for-editors-how-to-complete-an-assignment/" target="_blank">What is this?</a>
       </div>
       </td>
      </tr>
    </tbody></table>    
  </div>
    {/if}
    {/if}
  {/if}

  {if $login_role eq 'admin' && $keyword_info.article_status gt '2'}

  <script type='text/javascript'>
  {literal}
	updateInvoiceDate = function() {
		jQuery.ajax({
			'type': 'GET',
			'dataType': 'json',
  {/literal}
			'url': "/article/update_invoice_date.php?article_id="+{$keyword_info.article_id},
  {literal}
			'data': 'invoice_date='+jQuery("#invoice_date").val(),
			'success':function(data){
				if (data.success){
					jQuery("#invoice_date").css("background-color","yellow");
				} else {
					jQuery("#invoice_date").css("background-color","red");
				}
				//alert(data.msg);
				jQuery("#update_invoice_date").text(data.msg);
			},
			'complete':function(XHR,TS){XHR = null;}
		});
	}
  {/literal}
  </script>

  <div class="form-item">
  <table cellspacing="0" cellpadding="5" border="0" width="60%">
      <tbody><tr>
      <td align="right" class="form-label"><strong>Invoice Date</strong></td>
      <td align="left"> 
        <div id="articleRatingButtonDiv" >
		<input type="text" name="invoice_date" id="invoice_date" size="10" maxlength="10" value="{$keyword_info.invoice_date|date_format:'%m/%d/%Y'}" readonly/>
        <input type="button" class="button" id="btn_cal_invoice_date" value="...">
        <script type="text/javascript">
        Calendar.setup({ldelim}
            inputField  : "invoice_date",
            ifFormat    : "%m/%d/%Y",
            showsTime   : false,
            button      : "btn_cal_invoice_date",
            singleClick : true,
            step        : 1,
            onUpdate    : updateInvoiceDate,
            range       : [2000, 2038]
        {rdelim});
        </script>
       </div>
       </td>
       <td align="left">
	   <div id="update_invoice_date" style="font-weight:bold;color:red;"></div>
       </td>
      </tr>
    </tbody></table>    
  </div>

  {/if}

  {if $tags}
  {include file="article/article_tags.html"}
  {/if}
    <div id="form-buttons">
      <div id="div_button" >
      <table cellspacing="0" cellpadding="5" border="0" width="100%">
        <tr>
          <td align="left" >
  {if $keyword_info.article_status neq '5' && $keyword_info.article_status neq '6' && $keyword_info.article_status neq '99'}
    {if $login_role neq 'client'}
    <input type="button"  class="button" value="Save" onclick="doAction('save', '{$url}' );">&nbsp;
      {if $login_role eq 'copy writer'}
        <input type="button" value="Submit" class="button" onclick="doAction('submit' , '{$url}' );">&nbsp;
      {elseif $keyword_info.article_status == '1'}
        <input type="button" value="Google Clean" class="button" onclick="doAction('1gc' , '{$url}' );">&nbsp;
        <input type="button" value="Google Duplicated" class="button" onclick="doAction('1gd' , '{$url}' );">&nbsp;
        {if $login_role eq 'admin' && $keyword_info.richtext_body neq ''}
        <input type="button" value="Force Approve" class="button" onclick="doAction('force' , '{$url}' );">&nbsp;
        {/if}
      {elseif $keyword_info.article_status eq '4'}
        <input type="button" value="Force Request Edit" class="button" onclick="doAction('reject' , '{$url}' );">&nbsp;
        {if $login_role eq 'admin' }
		<div style="border: 2px dashed red; display: inline; padding: 10px 5px; margin: 0px 5px 0px 0px;font: italic bold 12px/20px arial,sans-serif;">
        <input type="button" value="Force Client Approve" class="button" onclick="doAction('forcec' , '{$url}' );"> With Pay Cycle:
		<select name="forcec_pay_month">{html_options options=$monthes selected=$onemonthlater}</select>
		</div>
        <input type="button" value="Force Client Reject" class="button" onclick="doAction('forcecr' , '{$url}' );">&nbsp;
        {/if}
      {elseif $keyword_info.article_status eq '2' || $keyword_info.article_status eq '1gd'}
        <input type="button" value="Force Approve" class="button" onclick="doAction('force' , '{$url}' );">&nbsp;
        <input type="button" value="Request Edit" class="button" onclick="doAction('reject' , '{$url}' );">&nbsp;
      {else}
        <input type="button" value="Editor Approve" class="button" onclick="doAction('approval' , '{$url}' );">&nbsp;
        <input type="button" value="Request Edit" class="button" onclick="doAction('reject' , '{$url}' );">&nbsp;
      {/if}
      {if ($login_role eq 'admin') && $keyword_info.qa_complete neq '1'  && ($keyword_info.article_status eq '4' || $keyword_info.article_status eq '1gc')}
      <input type="button" id="qa_complete_btn" value="QA Complete" class="button" onclick="doAction('qa' , '{$url}' );">&nbsp;
      {/if}
    {elseif $keyword_info.article_status eq '4' && $login_role eq 'client'}
      <input type="button" value="Approve" class="button" onclick="doAction('approval' , '{$url}' );">&nbsp;
      <a id="rejectedButton" href="#" onclick="doAction('reject' , '{$url}' );" title="Request Revision" >Request Revision</a>&nbsp;
      {*<input type="button" value="Request Revision" class="button" id="rejectedButton" onclick="doAction('reject' , '{$url}' );">&nbsp;*}
      Client Ready?<select name="is_client_ready{$item.article_id}" onchange='clientReadyPost({$keyword_info.article_id}, this.value)'>{html_options options=$client_ready_statuses selected=$keyword_info.is_client_ready}</select>
    {/if}

  {/if}
        </td>
        <td align="right" >
        {if $custom_fields.custom_field1}
        {if $keyword_info.article_status neq '5' && $keyword_info.article_status neq '6' && $keyword_info.article_status neq '99' && $keyword_info.article_status neq '4'}
        <input type="button" value="Not Available" class="button" onclick="InAvailableArticle('f_article')" />
        {elseif  $keyword_info.article_status eq '99'}
        <input type="button" value="Back On" class="button" onclick="AvailableArticle('f_article')" />
        {/if}
        {/if}
        </td>
      </tr>
    </table>
    {*<input type="reset" value="Reset" class="button" />*}
      </div>
    </div>
    <div id="show_shape_end" class="corner" style="display:none;width:310px;z-index:1000;height: 30px;" >
      <div class="ricohint" style="width:310px;z-index:1000;" id="show_status"  align="center" >saving...</div>
    </div>
    </form>
  </div>
  </td><td valign="top" >
  <div id="page-right" >
  {if $login_role neq 'client'}
  {*
    <div class="small-note" >
       <a href="/client_campaign/campaign_style_guide.php?campaign_id={$keyword_info.campaign_id}" target="_blank" >Content Production Style Guide</a>
       <a href="javascript:void(0);" target="_blank" onclick="openWindow('/client_campaign/campaign_style_guide.php?campaign_id={$keyword_info.campaign_id}', 'height=500,width=600,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');"  >Content Production Style Guide</a><br />
    </div>
  *}
<table cellspacing="0" cellpadding="0" border="0" width="283" class="info-table">
  <tbody><tr>
    <td height="41" background="/images/info-table-top.gif" align="center">Article Information </td>
  </tr>
  <tr>
    <td><table class="article-info" >
      
      <tbody><tr class="even">
        <td>Campaign Name</td>
        <td>{$keyword_info.campaign_name}</td>
      </tr>
      <tr class="odd" >
        <td >Campaign Keywords</td>
        <td >{$keyword_info.keyword}</td>
      </tr>
      <tr class="even">
        <td>Start Date</td>
        <td>{$keyword_info.date_start|date_format:"%m-%d-%Y"}</td>
      </tr>
      <tr class="odd">
        <td >Due Date</td>
        <td >{$keyword_info.date_end|date_format:"%m-%d-%Y"}</td>
      </tr>
      <tr class="even">
        <td>No. of Words</td>
        <td><div id="max-word-td" >{if $keyword_info.max_word == 0}No limit{else}{$keyword_info.max_word}{/if}</div></td>
      </tr>
      <tr class="odd">
        <td>Pay Period</td>
        <td><div id="max-word-td" >{$cppayperiod}</div></td>
      </tr>
      {if $login_role neq 'client'}
      <tr ><td colspan="2" align="center">
	  {if $keyword_info.style_guide_url != ''}
	  <a href="{$keyword_info.style_guide_url}" target="_blank" >Style Guide PDF</a><br /><div style="height: 10px;"></div>
	  {/if}
	  <a href="/client_campaign/campaign_style_guide.php?campaign_id={$keyword_info.campaign_id}" target="_blank" >Assignment Details</a>
	  </td></tr>
      {/if}
      {foreach from=$optional_fields item=item key=key name="loop"}
      <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
        <td>{$item.label}</td>
        <td>{$keyword_info[$key]|html_entity_decode}</td>
      </tr>
      {/foreach}
      <tr class="odd">
        <td>Article Type</td>
        <td>{$article_type[$keyword_info.article_type]}</td>
      </tr>
      {if $login_role neq 'client'}
      <tr class="even">
        <td >Editor</td>
        <td >{$keyword_info.ue_name}</td>
      </tr>
      <tr class="odd">
        <td>Copywriter</td>
        <td>{$keyword_info.uc_name}</td>
      </tr>
        {if $login_role eq 'admin'}
      <tr class="even">
        <td >Mapping-ID</td>
        <td >{$keyword_info.mapping_id|html_entity_decode}</td>
      </tr>
        {/if}
      {/if}
    </tbody></table></td>
  </tr>
  <tr>
    <td><img alt="" src="/images/info-table-bottom.gif"></td>
  </tr>
</tbody></table>
{/if}
    <div class="small-note" >
	{*
      Keyword Instructions: <br />
        <a href="/client_campaign/campaign_style_guide.php?campaign_id={$keyword_info.campaign_id}" target="_blank" >Content Production Style Guide</a>
       <a href="javascript:void(0);" onclick="openWindow('/client_campaign/campaign_style_guide.php?campaign_id={$keyword_info.campaign_id}', 'height=500,width=600,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');"  >Content Production Style Guide</a><br />
        {if $login_role neq 'client'}<a href="javascript:void(0);" onclick="openWindow('/client_campaign/campaign_notes.php?campaign_id={$keyword_info.campaign_id}', 'height=400,width=550,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');"  >Editorial notes</a>{/if}<br />
    *}

      {if $keyword_info.keyword_description!='' }
      <b>Note From {$keyword_info.pm_name}:</b><br />
      <div  style="height:150px;width:280px;overflow:auto;text-align:left;" >
      {$keyword_info.keyword_description|html_entity_decode}
      </div>
      {/if}
      {if $notes.notes !='' }
      <!-- Editor Notes <br />-->
       <div style="height:150px;width:280px;overflow:auto;text-align:left;font-weight: normal;">
        <b>Note From {$notes.user_name}:</b><br />{$notes.notes}
       </div>
      {/if}
    </div>
	{*
    {if $login_role neq 'client' && $keyword_info.richtext_body != '' && $keyword_info.article_status neq '5' && $keyword_info.article_status neq '6' && $keyword_info.article_status neq '99'}
    {include file="article/zemantawidget.html"}
    {/if}
	*}
    <div ><a href="/article/article_comment_list.php?article_id={$keyword_info.article_id}" target="_blank" style="color:red;">View previous versions</a></div>
  </div>
  </td></tr>
  </table>
  <div style="clear: both;"></div>
  </div>
</div>
<div id="article-coments" >
{if $comment_count neq 0}
<table border="0" cellspacing="0" cellpadding="0" width="85%" class="comments-info" >
  <tr class="comments-head" >
    <td class="comments-head-left">&nbsp;</td>
    <td  colspan="8" ><span class="comments-header">Current Articles Comments Information</span></td>
    <td class="comments-head-right">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="10" >
  {foreach from=$keyword_info.comment item=item name="loop"}
     <table cellspacing="0" cellpadding="10" bordercolor="#999999" border="1" width="100%">
   <tr>
    <td>
    <table cellspacing="0" width="100%">
  <tr>
    <td></td>
    <td align="right" class="comments-label">Role: &nbsp;</td>
    <td>{$item.creation_role}</td>
    <td align="right" class="comments-label">Creator: &nbsp;</td>
    {if $login_role neq 'client' || $login_role eq 'client' && $item.creation_role neq 'editor' and $item.creation_role neq 'copy writer'}
    <td>{if $item.creation_role eq 'client'}{if $item.creation_user_id}{$item.ccreator}{else}n/a{/if}{else}{$item.creator}{/if}</td>
    {else}
    <td>{$item.creation_role}</td>
    {/if}
    <td align="right" class="comments-label">Comment Date: &nbsp; </td>
    <td>{$item.creation_date|date_format:"%m-%d-%Y %H:%M:%S"}</td>
    <td align="right" class="comments-label">Version: &nbsp;</td>
    <td>{$item.version_number}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="10" >{$item.comment|nl2br}</td>
    <td></td>
  </tr>
    </table>
     </td>
   </tr>
    </table>
  {/foreach}
    </td>
  </tr>
</table>
{/if}
</div>
{if $login_role == 'editor'}
<div>
{foreach from=$quotiety item=v key=n}
<input type="hidden" name="quotiety[{$n}]" id="quotiety{$n}" value="{$v}" />
{/foreach}
</div>
<div id="afterRatedDiv" style="display:none;"></div>
<div id="article-rating-div" style="display:none;">
  <div class="form-item" style="margin:10px;" >
<form method="post" name="ranking_info" id="ranking_info" >
  <input type="hidden" name="opt" id="operation" value="rating" />
  <input type="hidden" name="post_url" id="post_url" value="{$url}" />
  <input type="hidden" name="post_action" id="post_action" value="temp" />
  <input type="hidden" name="ranking_id" value="{$ranking_info.ranking_id}"/>
  <input type="hidden" name="ranking" value="{$ranking_info.ranking}"/>
<table border="0" cellspacing="1" cellpadding="4" align="center" width="100%" class="ratingtable" >
  <tr>
    <td class="bodyBold">Please rate this article</td>
    <td align="right" class="requiredHint">Required Information</td>
  </tr>
  <tr>
    <td class="requiredInput" >Keyword </td>
    <td colspan="4">
      {$ranking_info.keyword}
      <input type="hidden" name="keyword_id" id="keyword_id" value="{$ranking_info.keyword_id}" />
      <input type="hidden" name="article_id"   value="{$keyword_info.article_id}" />
    </td>
  </tr>
  <tr>
    <td class="requiredInput" >Campaign </td>
    <td colspan="4">
      {$ranking_info.campaign_name}
      <input type="hidden" name="campaign_id" id="campaign_id" value="{$ranking_info.campaign_id}" />
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Copywriter Name</td>
    <td colspan="4">
      <input type="hidden" id="user_id" name="user_id" value="{$ranking_info.user_id}" />
      {$ranking_info.user_name}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Punctuation</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="punctuation" value="{$v}"  {if $ranking_info.punctuation == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Grammar</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="grammar" value="{$v}"  {if $ranking_info.grammar == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Structure</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="structure" value="{$v}"  {if $ranking_info.structure == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">AP Style</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="ap_style" value="{$v}"  {if $ranking_info.ap_style == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Style Guide</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="style_guide" value="{$v}"  {if $ranking_info.style_guide == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Overall Content Quality</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="quality" value="{$v}"  {if $ranking_info.quality == $v}checked{/if}  />
    {/foreach}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Communication with Editor</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="communication" value="{$v}"  {if $ranking_info.communication == $v}checked{/if}  />
    {/foreach}    
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Cooperativeness</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="cooperativeness" value="{$v}"  {if $ranking_info.cooperativeness == $v}checked{/if}  />
    {/foreach}   
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Timeliness</td>
    <td>
    {foreach from=$cp_ranking item=v}
    <input type="radio" name="timeliness" value="{$v}"  {if $ranking_info.timeliness == $v}checked{/if}  />
    {/foreach}   
    </td>
  </tr>
  <tr><td colspan="12" align="center" ><div id="totaldiv" >Total:{$ranking_info.ranking|default:0}</div></td></tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="button" class="button" name="save" value="Save" onclick="checkRanking()"/></td>
  </tr>    
</table>
</form>
  </div>
</div>
{literal}
{/literal}
{/if}
{include file="themes/$theme/footer.html"}
