{include file="themes/$theme/header.html"}
{literal}
<script type="text/javascript" language="javascript">
function iFrameHeight() {   
    var ifm= document.getElementById("iframepage");   
    var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;   
    if(ifm != null && subWeb != null) {
       ifm.height = subWeb.body.scrollHeight;
          if ( ifm.height < 500)
         {
            ifm.height = 500;
         }
    }
}
{/literal}
</script>
<iframe src="{$url}" id="iframepage" name="iframepage" frameBorder="0" scrolling="yes" height="500" width="100%" onLoad="iFrameHeight()" ></iframe>
{include file="themes/$theme/footer.html"}