{include file="themes/$theme/header_jump.html"}
<script language="JavaScript">
<!--
var login_permission = '{$login_permission}';
{literal}
check_f_note = function()
{
  var f = document.f_note;

  if (f.user_id.value == 0 || f.user_id.value == '')
  {
      alert('Please specify the user');
      return false;
  }

  if (f.title.value.length == 0) {
      alert('Please enter title');
      f.title.focus();
      return false;
  }

  if (f.notes.value.length == 0) {
      alert('Please enter note');
      f.notes.focus();
      return false;
  }

  f.submit();
  return true;
}
{/literal}
//-->
</script>
<div id="page-box1">
  <h2>User Note</h2>
  <div id="campaign-search" >
    <strong>Please enter required information of user note.</strong>
  </div>
  <div class="form-item" >
<form action="{$request_uri}" method="post"  name="f_note" id="f_note" {if $js_check eq true} onsubmit="return check_f_note()"{/if}>
<input type="hidden" name="created" id="created" value="{$user_info.created}" />
<input type="hidden" name="modified" id="modified" value="{$user_info.modified}" />
<input type="hidden" name="modified_by" id="modified_by" value="{$user_info.modified_by}" />
<input type="hidden" name="created_by" id="created_by" value="{$user_info.created_by}" />
<br /><table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">
  <tr>
    <td class="bodyBold">Basic Information</td>
    <td align="right" class="requiredHint">Required Information</td>
  </tr>
  <tr>
    <td class="blackLine" colspan="2" ><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td class="requiredInput">User&nbsp;</td>
    <td>
     {if $user_id > 0 || $note_id > 0}
     <input type="hidden" name="user_id" id="user_id" value="{$user_id}" />
     {$users[$user_id]}
     {else}
     <select name="user_id" id="user_id" >
     <option value="" >[choose]</option>
     {html_options options=$users selected=$user_info.user_id}
     </select>
    {/if}
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Category&nbsp;</td>
    <td>
     <select name="category_id" id="category_id" >
     <option value="0" >[choose]</option>
     {html_options options=$categories selected=$user_info.category_id}
     </select>
    </td>
  </tr>
  <tr>
    <td class="requiredInput">Title&nbsp;</td>
    <td><input name="title" type="text" id="title" size="40" value="{$user_info.title}" onchange="javascript:this.value=Trim(this.value)"></td>
  </tr>
  <tr>
    <td class="requiredInput">Note&nbsp;</td>
    <td><textarea name="notes" cols="30" rows="6" id="notes">{$user_info.notes}</textarea></td>
  </tr>
  <tr>
    <td class="blackLine" colspan="2"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Submit" class="button">&nbsp;<input type="reset" value="reset" class="button"></td>
  </tr>
</table>
</form>
  </div>
</div>

{include file="themes/$theme/footer_jump.html"}