{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
<div id="page-box1">
  <h2>Copywriters/Editors Specialties and Availability</h2>
  <div id="campaign-search" >
    <div id="campaign-search-box" >
  <form name="f_assign_keyword_return" id="f_assign_keyword_return" action="#" method="get">
  <table border="0" cellspacing="1" cellpadding="4">
  <tr>
    <td   nowrap>User Keyword</td>
    <td><input type="text" name="keyword" id="search_keyword" value="{$smarty.get.keyword}" /></td>
    <td nowrap>User Type</td>
    <td><select name="permission">{html_options options=$user_types selected=$smarty.get.user_type}</select></td>
    <td nowrap>Pay Level</td>
    <td><select name="pay_level"><option value="">[show all]</option>{html_options values=$pay_levels output=$pay_levels selected=$smarty.get.pay_level}</select></td>
    <td nowrap>Interests</td>
    <td><select name="cp_category" id="cp_category" >
    {foreach from=$cp_interests item=i key=k }
    <option value="{$k}" {if $smarty.get.cp_category == $k}selected{/if}>{$i.name}</option>
    {foreach from=$i.chidren item=name key=subk }
    <option value="{$subk}" {if $smarty.get.cp_category == $subk}selected{/if}>{$name}</option>
    {/foreach}
    {/foreach}
    </select></td>
    <td  nowrap>Show:</td>
    <td nowrap ><select name="perPage" onchange="this.form.submit();">{html_options options=$g_pager_perPage selected=$smarty.get.perPage}</select> row(s)</td>
    <td colspan="4" nowrap rowspan="2" ><input type="image" src="/images/button-search.gif" value="submit" onclick="$('f_assign_keyword_return').action='/user/available_specialties_report.php';"/>&nbsp;<input type="submit" value="Export CSV" class="moduleButton" onclick="$('f_assign_keyword_return').action='/user/export_available_specialties_list.php';" /></td>
  </tr>
  <tr>
    <td nowrap colspan="8" >
      <input type="text" name="c_date_start" id="c_date_start" size="15" maxlength="10" value="{$smarty.get.c_date_start}" readonly/>
        <input type="button" class="button" id="btn_cal_c_date_start" value="...">
        <script type="text/javascript">
        Calendar.setup({ldelim}
            inputField  : "c_date_start",
            ifFormat    : "%Y-%m-%d",
            showsTime   : false,
            button      : "btn_cal_c_date_start",
            singleClick : true,
            step        : 1,
            range       : [1990, 2030]
        {rdelim});
        </script>
        &lt= Unavailable Date &lt=
              <input type="text" name="c_date_end" id="c_date_end" size="15" maxlength="10" value="{$smarty.get.c_date_end}" readonly/>
        <input type="button" class="button" id="btn_cal_c_date_end" value="...">
        <script type="text/javascript">
        Calendar.setup({ldelim}
            inputField  : "c_date_end",
            ifFormat    : "%Y-%m-%d",
            showsTime   : false,
            button      : "btn_cal_c_date_end",
            singleClick : true,
            step        : 1,
            range       : [1990, 2030]
        {rdelim});
        </script>
    </td>
  </tr>
  </table>
  </form>
    </div>
  </div>
</div>
<div class="tablepadding"> 
<table id="table-1" cellspacing="0" align="center" cellpadding="0" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2">No.</td>
    <td nowrap class="columnHeadInactiveBlack">User</td>
    <td nowrap class="columnHeadInactiveBlack">First Name</td>
    <td nowrap class="columnHeadInactiveBlack">Last Name</td>
    <td nowrap class="columnHeadInactiveBlack">Email</td>
    <td nowrap class="columnHeadInactiveBlack">Pay Level</td>
    <td nowrap class="columnHeadInactiveBlack">Category - Level of Expertise</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2">Dates Unavailable</td>
    <th class="table-right-corner">&nbsp;&nbsp;</th>
</tr>
  </thead>
  {foreach from=$users item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
        <td class="table-left" >&nbsp;</td>
    <td class="table-left-2">{$smarty.foreach.loop.iteration}</td>
    <td><a href="javascript:openWindow('/user/user_detail_info.php?user_id={$item.user_id}', 'newwindow', 'height=370,width=280,status=no,toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes');">{$item.user_name}</a></td>
    <td>{$item.first_name}</td>
    <td>{$item.last_name}</td>
    <td>{$item.email}</td>
    <td>Level {$item.pay_level}</td>
    <td nowrap>
    {foreach from=$item.specialies item=sitem}
    {if $sitem.is_link}<a href="javascript:void(0)" onclick="showDialog('{$item.user_id}','{$sitem.category_id}')">{$sitem.name}</a>{else}{$sitem.name}{/if}<br />
    {/foreach}
    </td>
    <td class="table-right-2">{$item.unavailable|nl2br}</td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
{literal}
var st = new SortableTable(document.getElementById("table-1"),
  ["None", "Number", "CaseInsensitiveString", "CaseInsensitiveString",  "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "Number","Number", "CaseInsensitiveString"]);

st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

st.asyncSort(0);
function showDialog(user_id, cid) {
  var url = '/user/show_specialite.php?user_id=' + user_id + '&cid=' + cid;
  showWindowDialog(url, 500, 300, "Show Description");
}
{/literal}
//]]>
</script>

{include file="themes/$theme/footer.html"}