<div class="title-top-box" id="navWorkExperience" >Work Experience(optional)</div>
<div class="form-item" id="divWorkExperience" >
  <div class="title-desc-box"><strong>Please provide any employment experience that showcases your specialties and skills. This section is optional but helps the team with determining what categories best fit your background. Simply select the job category and provide us with the company name, your title, and the amount of time you worked there. You can include additional jobs by selecting the add button.</strong></div>
<form action="" method="post"  name="f_candidate_wp" {if $js_check eq true} onsubmit="return check_f_candidate_wp()"{/if}  >
<input type="hidden" name="candidate_id" value="{$cid}"/>
<input type="hidden" name="opt_index" value="2" />
<br>
<table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">  
  <tr>
    <td class="bodyBold" colspan="2">Basic Information</td>
    <td align="right"  colspan="3" class="requiredHint">Required Information</td>
  </tr>
  <tr>
    <td class="blackLine" colspan="5"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td colspan="5">
    <table>
  <tr>
    <td><input type="button"  class="button" value="+" onclick="addRow('experiencerow', {$total}, 'tr')" /></td>
    <td align="left" >Job</td>
    <td align="left" >Company</td>
    <td align="left" >Title</td>
    <td align="left" >Experience</td>
  </tr>
  {if $info.experience &&  is_array($info.experience)}
  {foreach from=$info.experience item=item key=key}
  <tr {if $key == 0}id="experiencerow"{/if}>
    <td>{if $key == 0}<span></span>{else}<input type="button"  class="button" value="-" onclick="jQuery(this).parent().parent().remove();currentrow--" />{/if}</td>
    <td><select name="experience[job][]">{html_options options=$categories selected=$item.job}</select></td>
    <td><input type="text" name="experience[company][]" value="{$item.company}" size="25" /></td>
    <td><input type="text" name="experience[title][]" value="{$item.title}" size="38" /></td>
    <td><select name="experience[year][]">{html_options options=$experience selected=$item.year}</select></td>
  </tr>
  {/foreach}
  {else}
  <tr id="experiencerow">
    <td><span></span></td>
    <td><select name="experience[job][]">{html_options options=$categories}</select></td>
    <td><input type="text" name="experience[company][]" value="" size="25" /></td>
    <td><input type="text" name="experience[title][]" value="" size="38" /></td>
    <td><select name="experience[year][]">{html_options options=$experience selected=$info.experience}</select></td>
  </tr>
  {/if}
      </table>
    </td>
  </tr>
  <tr>
    <td class="blackLine" colspan="5"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td colspan="5" >&nbsp;Having trouble submitting the form? Send email to hr@copypress.com&nbsp;<input type="submit" value="Next" class="button" /></td>
  </tr>
</table>
</form>
</div>