<div class="title-top-box" id="navEducation" >Education</div>
<div class="form-item" id="divEducation" >
  <div class="title-desc-box"> <strong>Please provide us with your educational background below. Simply select the types of degree completed and provide us with the school/program and the area of study. You can include additional degrees by selecting the add button.</strong></div>
<form action="" method="post"  name="f_candidate_edu" {if $js_check eq true} onsubmit="return check_f_candidate_edu()"{/if}  >
<input type="hidden" name="candidate_id" value="{$cid}"/>
<input type="hidden" name="opt_index" value="1" />
<br>
<table border="0" cellspacing="1" cellpadding="4" align="center" width="100%">  
  <tr>
    <td class="bodyBold" colspan="2">Basic Information</td>
    <td align="right"  colspan="3" class="requiredHint">Required Information</td>
  </tr>
  <tr>
    <td class="blackLine" colspan="5"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td colspan="5" >
    <table>
    <tr>
      <td><input type="button"  class="button" value="+" onclick="addRow('educationrow', {$totaleducation}, 'tr')" /></td>
      <td align="left" >Degree</td>
      <td align="left" >School</td>
      <td align="left" >Marjor/Minor/Certificate</td>
    </tr>
    {if $info.education && is_array($info.education)}
    {foreach from=$info.education item=item key=key}
    <tr {if $key == 0}id="educationrow"{/if}>
      <td>{if $key == 0}<span></span>{else}<input type="button"  class="button" value="-" onclick="jQuery(this).parent().parent().remove();currentrow--" />{/if}</td>
      <td><select name="education[degree][]">{html_options options=$education selected=$item.degree}</select></td>
      <td><input type="text" name="education[school][]" value="{$item.school}" size="30" /></td>
      <td><input type="text" name="education[major][]" value="{$item.major}" size="40" /></td>
    </tr>
    {/foreach}
    {else}
    <tr id="educationrow" >
      <td><span></span></td>
      <td><select name="education[degree][]">{html_options options=$education selected=$info.education}</select></td>
      <td><input type="text" name="education[school][]" value="" size="30" /></td>
      <td><input type="text" name="education[major][]" value="{$info.field_of_study}" size="40" /></td>
    </tr>
   {/if}
    </table>
    </td>
  </tr>
  <tr>
    <td class="blackLine" colspan="5"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <td colspan="6" nowrap>&nbsp;Having trouble submitting the form? Send email to hr@copypress.com<input type="submit" value="Next" class="button"></td>
  </tr>
</table>
</form>
</div>