{include file="themes/$theme/header.html"}

{if $feedback ne ''}
<script language="JavaScript">
<!--
alert('{$feedback}');
//-->
</script>
{/if}
<div id="page-box1">
  <h2>User Note Category&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="button" value="Add Note Category" onclick="showNoteCatDialog(0)" /> </h2>
  <div id="campaign-search" >
    <strong>You can enter the "title" and "notes" into the keyword input to search the relevant information of user note</strong>
    <div id="campaign-search-box" >
  <form name="f_assign_keyword_return" action="" method="get">
  <input type="hidden" name="get_operation" value="search" />
  <table border="0" cellspacing="1" cellpadding="4">
  <tr>
    <td  nowrap>Keyword</td>
    <td><input type="text" name="keyword" id="search_keyword"></td>
    <td  nowrap>Show:</td>
    <td><select name="perPage" onchange="this.form.submit();">{html_options options=$g_pager_perPage selected=$smarty.get.perPage}</select> row(s)</td>
    <td><input type="image" src="/images/button-search.gif" value="submit" /></td>
    <td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td width="20%">&nbsp;</td>
  </tr>
  </table><br>
  </form>
    </div>
  </div>
</div>
<div class="tablepadding"> 
<table id="table-1" cellspacing="0" align="center" cellpadding="0" class="sortableTable">
  <thead>
  <tr class="sortableTab">
    <th class="table-left-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2">Number</td>
    <td nowrap class="columnHeadInactiveBlack">Name</td>
    <td nowrap class="columnHeadInactiveBlack">Description</td>
    <td nowrap class="columnHeadInactiveBlack">Creator</td>
    <td nowrap class="columnHeadInactiveBlack">Created Date</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2">&nbsp;</td>
    <th class="table-right-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>
  </thead>
  {foreach from=$result item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
        <td class="table-left" >&nbsp;</td>
    <td class="table-left-2">{$smarty.foreach.loop.iteration}</td>
    <td>{$item.name}</td>
    <td>{$item.description|nl2br}</td>
    <td>{$item.creator}</td>
    <td>{$item.created|date_format:"%m-%d-%Y"}</td>
    <td align="right" nowrap class="table-right-2"><input type="button" class="button" value="update" onclick="showNoteCatDialog({$item.category_id})" /> </td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
</table>
<div class="pagingpaddingleft" >
  <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr><td class="table-left table-paging-left" width="20" height="37" >&nbsp;</td><td class="table-bottom">{$pager} (Total Page:{$total})(Total Count:{$count})</td><td class="table-right table-paging-right" width="21">&nbsp;</td></tr>
  </table>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
var st = new SortableTable(document.getElementById("table-1"),
  ["None", "Number", "CaseInsensitiveString", {if $login_role eq 'admin'}"CaseInsensitiveString",{/if} "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "CaseInsensitiveString", "None"]);

{literal}
st.onsort = function () {
  var rows = st.tBody.rows;
  var l = rows.length;
  for (var i = 0; i < l; i++) {
    removeClassName(rows[i], i % 2 ? "odd" : "even");
    addClassName(rows[i], i % 2 ? "even" : "odd");
  }
};

st.asyncSort(0);

function showNoteCatDialog(cid) {
  if (cid > 0)
  {
      var url = '/user/ajax_cat_set.php?category_id=' + cid;
      var title = 'Edit User Note Info';
  } 
  else
  {
      var url = '/user/ajax_cat_add.php';
      var title = 'Add User Note Info';
  }
  showWindowDialog(url, 600, 500, title);

}

{/literal}
//]]>
</script>

{include file="themes/$theme/footer.html"}