<div class="page-box1-class">
<h2>Performance</h2>
</div>
<table  cellspacing="0" cellpadding="0" align="center" class="sortableTable">
  <tr class="sortableTab">
    <th class="table-left-corner">&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <td nowrap class="columnHeadInactiveBlack table-left-2">Number</td>
    <td nowrap class="columnHeadInactiveBlack">User</td>
    <td nowrap class="columnHeadInactiveBlack">Name</td>
    <td nowrap class="columnHeadInactiveBlack">Email</td>
    <td nowrap class="columnHeadInactiveBlack">Month</td>
    <td nowrap class="columnHeadInactiveBlack">Punctuation</td>
    <td nowrap class="columnHeadInactiveBlack">Grammar</td>
    <td nowrap class="columnHeadInactiveBlack">Structure</td>
    <td nowrap class="columnHeadInactiveBlack">AP Style</td>
    <td nowrap class="columnHeadInactiveBlack">Style Guide</td>
    <td nowrap class="columnHeadInactiveBlack">Content Guality</td>
    <td nowrap class="columnHeadInactiveBlack">Communication</td>
    <td nowrap class="columnHeadInactiveBlack">Cooperativeness</td>
    <td nowrap class="columnHeadInactiveBlack">Timeliness</td>
    <td nowrap class="columnHeadInactiveBlack table-right-2">Overall</td>
    <th class="table-right-corner">&nbsp;&nbsp;&nbsp;</th>
  </tr>
  {foreach from=$peformance item=item name="loop"}
  <tr class="{if $smarty.foreach.loop.iteration % 2 eq 0}even{else}odd{/if}">
    <td class="table-left" >&nbsp;</td>
    <td class="table-left-2">{$smarty.foreach.loop.iteration}</td>
    <td><a href="/client_campaign/cp_performance.php?rmonth={$item.report_month}&user_id={$item.user_id}">{$item.user_name}</a></td>
    <td>{$item.first_name} {$item.last_name}</td>
    <td>{$item.email}</td>
    <td>{$item.month}</td>
    <td>{$item.punctuation}</td>
    <td>{$item.grammar}</td>
    <td>{$item.structure}</td>
    <td>{$item.ap_style}</td>
    <td>{$item.style_guide}</td>
    <td>{$item.quality} </td>
    <td>{$item.communication} </td>
    <td>{$item.cooperativeness} </td>
    <td>{$item.timeliness} </td>
    <td class="table-right-2">{$item.ranking}</td>
    <td class="table-right" >&nbsp;</td>
  </tr>
  {/foreach}
  </form>
</table>