{include file="themes/$theme/header.html"}
<script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
<script>jQuery.noConflict();</script>
{if $feedback ne ''}
<center><div style="color:red;">{$feedback}</div></center>
{/if}
<div id="page-box1">
  <h2>{if $role eq 'copy writer'}Copywriter{elseif $role eq 'designer'}Designer{else}Editor{/if} Specialties</h2>
  <div id="campaign-search" >
    <strong>We’ll try to match you up with assignments that fit your areas of expertise.  While we can’t guarantee that every assignment will be in line with your specialty areas, we’ll try our best.  Please choose your specialty areas from the categories below. Simply check the box next to the category and click Update once you’re finished.</strong>
  </div>
  <div class="form-item" >
{if $user_id ne 0 && $user_id ne ''}
<form action="" method="post" name="f_specialties" id="f_specialties" >
<table border="0" cellspacing="0" cellpadding="1" align="center" style="font-size:10px" >
 <tr>
    <td class="bodyBold" nowrap >Select Category</td>
    <td align="right" class="requiredHint" colspan="4" >Required Information</td>
  </tr>
  <tr>
    <td class="blackLine" colspan="5"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
    <th class="columnHeadInactiveBlack">Category</th>
    <th class="columnHeadInactiveBlack">Level</th>
    <th class="columnHeadInactiveBlack">Description</th>
    <th class="columnHeadInactiveBlack">Sample</th>
 </tr>
  {foreach from=$categories item=item name="loop"}
  <tr >
    <td align="left" valign="top" >
      <input type="checkbox" name="parent_id[]" id="parent_id{$item.category_id}" {if $item.user_id ne 0}checked="true"{/if} value="{$item.category_id}" onclick="parentCheck(jQuery(this))"><strong><span id="catelabel{$item.category_id}" >{$item.category}</span></strong><input type="hidden" name="category[{$item.category_id}]" value="{$item.category}" />
    </td>
    <td></td>
    <td rowspan="{$item.total_row}" valign="top"><textarea name="descs[{$item.category_id}]" id="desc{$item.category_id}" cols="30" rows="{$item.area_row}"  >{$item.description}</textarea></td>
    <td rowspan="{$item.total_row}" valign="top"><textarea name="sample[{$item.category_id}]" id="sample{$item.category_id}" cols="30" rows="{$item.area_row}"  >{$item.sample}</textarea></td>
   </tr>
   {if $item.children}
    {foreach from=$item.children item=item2 name="loop2"}
    <tr>
      <td nowrap height="20" >&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="category_id[{$item.category_id}][]" id="category_id{$item2.category_id}" {if $item2.user_id ne 0}checked="true"{/if} value="{$item2.category_id}" onclick="jQuery('#parent_id{$item.category_id}').attr('checked', true);"><strong><span id="catelabel{$item2.category_id}" >{$item2.category}</span></strong><input type="hidden" name="category[{$item2.category_id}]" value="{$item2.category}" /></td>
      <td colspan nowrap><select name="level[{$item.category_id}][{$item2.category_id}]" >{html_options options=$user_levels selected=$item2.level}</select></td>
      <td></td>
    </tr>     
    {/foreach}
    {else}
    <tr>
      <td nowrap height="20" ></td>
      <td colspan nowrap><select name="level[{$item.category_id}]" >{html_options options=$user_levels selected=$item.level}</select></td>
      <td></td>
    </tr>    
    {/if}
    <tr><td colspan="5" class="blackLine"><img src="/image/misc/s.gif">&nbsp;<br /><br /></td></tr>
  {/foreach}
   <tr>
    <td class="blackLine" colspan="5"><img src="/image/misc/s.gif"></td>
  </tr>
  <tr>
  	<td align="center" colspan="3"><input type="button" class="button" value="Update" onclick="f_specialties_check()"></td>
  </tr>
</table>
</form>
{/if}
  </div>
</div>
<script type="text/javascript" >
{literal}
function parentCheck(obj)
{
    if (!obj.attr("checked")) {
      if (!confirm('It will remove all sub categories for this category. Are you remove it?')) {
          obj.attr("checked", true);return false;
      } else {
          jQuery('input[name="category_id[' + obj.val() + '][]"]').attr('checked', false);
          return true;
      }
    }
}


function f_specialties_check()
{
  var form = document.f_specialties;
  var cates = document.getElementsByName('parent_id[]');
  var len = cates.length;
  var  is_checkedp= false;
  for (var i = 0; i < len;  i++)
  {
      if (jQuery(cates[i]).attr('checked')) {
          var pid = jQuery(cates[i]).val();
          var desc   = jQuery('textarea[name="descs[' +  pid +']"]');
          var sample = jQuery('textarea[name="sample[' +  pid +']"]');
          is_checkedp = true;
          var pname = jQuery('#catelabel' +pid).text();
          if (desc.val() == '') {
            alert('Please specify description for ' + pname);
            desc.focus();
            return false;
          }
          if (sample.val() == '') {
            alert('Please specify sample for ' + pname);
            sample.focus();
            return false;
          }
          var subcates = document.getElementsByName('category_id[' + pid+ '][]');
          var is_checked = false;
          var total = subcates.length;
          if (total == 0) {
              level = jQuery('select[name="level[' + pid+ ']"]');
              if (level.val() == '') {
                    alert('Please sepcify level for ' + pname );
                    level.focus();
                    return false;
              }
              is_checked = true;
          } else {
            
            for (var j=0; j < total; j++) {
              var subcate = jQuery(subcates[j]);
              var cid = subcate.val();
              if (subcate.attr('checked')) {
                  is_checked = true;
                  var level =  jQuery('select[name="level[' + pid+ ']['+cid+']"]');
                  if (level.val() == '') {
                    var name = jQuery('#catelabel' +cid).text();
                    alert('Please sepcify level for ' + name );
                    level.focus();
                    return false;
                  }
              }
            }
          }
          if (!is_checked) {
              alert('Please choose one sub category for ' + pname );
              jQuery(subcates[0]).focus();
              return false;
          }
      }
  }
  if (!is_checkedp) {
    alert('You must choose at least one');
    return false;
  }
  jQuery(form).submit();
  return true;
}
{/literal}
</script>
{include file="themes/$theme/footer.html"}