.chat-widget{
	position:fixed;
	bottom: 0px;
	width:783px;
	padding:0;
}
.caption-title{display:inline-block;}
.chat-widget .panel{margin-bottom:0;}
.chat,.channel
{
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    text-align:right;
}


.chat li .chat-body p
{
    margin: 0;
    color:#0c0c0c;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    height: 370px;
	padding:0;
}
.chat-content,.channel-list{
    overflow-y: scroll;
    height: 369px;
}
.channel-list li{
	clear:both;
}
.channel-list .channel i{
	padding:5px 3px 5px 5px;
	cursor: pointer;
}
.channel-list .channel i:hover{
	color:#3ec9b7;
}
.channel-list li:hover{
	background:#ededed;
	cursor: pointer;
}
.channel-list li.active{
	background:#FA6F57;
}
.user-unreadcount{
	float:right;
	border-radius:50%;
	background:#FA6F57;
	text-align: center;
	width: 20px;
	color:#fff;
}
.user-name{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;/* Opera */
	-moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.mgr10{margin-right:10px;}

.notice{color:#00a1e9!important;}
li.active .notice{color:#fff;}

.blink, .notice {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.agora-screen .small-window{
    width: 180px;
    height: 150px;
    position: absolute;
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0% 0%;
    right: 15px;
	z-index:999999999;
	top:0px;
}

/* Css for agora start */
.agora-screen .col-xs-8, .agora-screen .col-xs-4{
	padding:0;
	/* border:1px solid #333; */
}
.agora-screen ul{padding:0;}
.agora-screen li{list-style: none;}

.agora-options{ background:rgba(0,0,0,0.5); height:28px; -webkit-border-radius:8px;-moz-border-radius:8px;
                     -o-border-radius:8px;-ms-border-radius:8px; position:absolute; bottom:1px; left:40px;}
.agora-options ul li{ width:30px; height:30px; float:left; margin-left:20px; cursor:pointer; margin-top:2px;border-bottom:none;}
/*
.agora-options .audioSwitch .on{ width:50px; height:50px; margin:auto; background:url(../assets/mute%20.png);background-size:50px 50px;}
.agora-options .audioSwitch .off{ width:50px; height:50px; margin:auto; background:url(../assets/ic_others_button_mute_pressed.png);background-size:50px 50px;}
.agora-options .audioSwitch .on:hover{ background:url(../assets/ic_others_button_mute_pressed.png);background-size:50px 50px;}

.agora-options .videoSwitch .on{ width:50px; height:50px; margin:auto; background:url(../assets/close_camera.png); background-size:50px 50px;}
.agora-options .videoSwitch .off{ width:50px; height:50px; margin:auto; background:url(../assets/ic_others_button_close_pressed.png); background-size:50px 50px;}
.agora-options .videoSwitch .on:hover{ background:url(../assets/ic_others_button_close_pressed.png);background-size:50px 50px;}


*/
.agora-options .audioSwitch .on{ width:25px; height:25px; margin:auto; background:url(../assets/mute.png);background-size:25px 25px;}
.agora-options .audioSwitch .off{ width:25px; height:25px; margin:auto; background:url(../assets/mute_pressed.png);background-size:25px 25px;}
.agora-options .audioSwitch .on:hover{ background:url(../assets/mute_pressed.png);background-size:25px 25px;}

.agora-options .videoSwitch .on{ width:25px; height:25px; margin:auto; background:url(../assets/close_camera.png); background-size:25px 25px;}
.agora-options .videoSwitch .off{ width:25px; height:25px; margin:auto; background:url(../assets/close_pressed.png); background-size:25px 25px;}
.agora-options .videoSwitch .on:hover{ background:url(../assets/close_pressed.png);background-size:25px 25px;}

.agora-options .viewSwitch .on{ width:25px; height:25px;  margin:auto; background:url(../assets/view_switch.png);background-size:25px 25px;}
.agora-options .viewSwitch .off{ width:25px; height:25px;  margin:auto; background:url(../assets/change_pressed.png);background-size:25px 25px;}
.agora-options .viewSwitch .on:hover{ background:url(../assets/change_pressed.png);background-size:25px 25px;}
.agora-options ul li .four{ width:25px; height:25px;margin:auto; background:url(../assets/telephone.png);background-size:25px 25px;}
.agora-options ul li .four:hover{background:url(../assets/telephone.png);background-size:25px 25px;}
.agora-options ul li p{font-size:16px; color:#fff; text-align:center; margin-top:6px;}
.agora-options ul li p.telephone{ color:#dcb056;}

.agora-wait{height:100%;background:rgba(0, 0, 0, 0.5);}
.agora-wait .left .waitAudio{background:url(../assets/ic_waitting_bg.png);}
.agora-wait .agora-content{display:block;}
.agora-wait .agora-info{display:none;}
.agora-content {text-align:center;display:none;}
.agora-content p{ text-align:center; color:#fff; font-size:25px; padding-top:150px; line-height:20px;}
.agora-content img{ margin-top:25px; cursor:pointer;}
/* Css for agora  end*/
.agora-wait .agora-content.small-window p{padding-top:20px;}
.agora-screen .left{width:100%;}
.agora-screen .left.small-window{width:200px;}

.panel-primary{border-color:#ededed;}
.panel-primary > .panel-heading{background-color:#00a1e9;border-color:#ededed;}
.btn-default{color:#8a8a8a;}
.btn-warning {background-color: #77b739;border-color: #77b739;font-weight: 700;width: 80px;}
.dropdown-toggle{padding: 5px 5px;border-radius: 50%;}

.channel-list li.active{background:#e8f1f4;}
.channel-list li{line-height:30px;border-bottom:1px solid #dedede;}
.channel-user{color:#000;}
.channel-user i{color:#afafaf;}
.primary-font{color:#dadada;}

.user-name .glyphicon-ok-sign, .dropdown-toggle .glyphicon-ok-sign, .dropdown-menu .glyphicon-ok-sign{color:green;}
.user-name .glyphicon-minus-sign, .dropdown-toggle .glyphicon-minus-sign, .dropdown-menu .glyphicon-minus-sign{color:red;}
.user-name .glyphicon-time, .dropdown-toggle .glyphicon-time, .dropdown-menu .glyphicon-time{color:yellow;}
