<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$sys_charset}" />
<title>{$page_title}</title>
<style type="text/css">@import url("/themes/{$theme}/style.css"); </style>
<link rel="stylesheet" type="text/css" media="all" href="/js/calendar/calendar.css" />
<link type="text/css" rel="StyleSheet" href="/js/sortabletable/sortabletable.css" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<script type="text/javascript" src="/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="/js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="/js/sortabletable/sortabletable.js"></script>
<script type="text/javascript" src="/js/overlib/overlib_mini.js"></script>
<script type="text/javascript" src="/js/tiny_mce/tiny_mce.js"></script>
<link id="luna-tab-style-sheet" type="text/css" rel="stylesheet" href="/js/tabpane/tabpane.css" />
<script type="text/javascript" src="/js/tabpane/tabpane.js"></script>
<script type="text/javascript" src="/js/prototype.js"></script>
<script type="text/javascript" src="/js/ajaxaction.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/prototype-window/window.js"> </script>
<link href="/js/prototype-window/themes/default.css" rel="stylesheet" type="text/css"/> 
<!-- Add this to have a specific theme--> 
<link href="/js/prototype-window/themes/mac_os_x.css" rel="stylesheet" type="text/css"/>
{*<script type="text/javascript" src="/js/min.rico.js"></script>*}
{literal}
<!--[if IE]>
<style type="text/css" media="screen">
body { behavior: url("/themes/Default/csshover.htc"); }
</style>
<![endif]-->
<script language="JavaScript" type="text/JavaScript">
if (window != top) top.location.href = location.href;
</script>
{/literal}
</head>

<body {$onload}>
<table  cellspacing="0" cellpadding="0" border="0" width="100%" id="container" >
<tr class="first-row" width="31" height="31">
  <td><img src="/images/main-corner-tl.jpg" width="31" height="31" /></td>
  <td class="main-conter-t" >&nbsp;</td>
  <td width="31" height="31"><img src="/images/main-corner-tr.jpg" width="31" height="31" /></td>
</tr>
<tr>
  <td class="main-conter-l">&nbsp</td>
  <td>
  <div id="main" >
      <div id="ajaxloading"  class="loadingajax2"  style="display:none;z-index:9999" >Loading...</div>
    <div id="header" >
      <div>
        <div id="company_logo">
        <a href="/" ><img alt="CopyPress" class="header-logo" src="/images/copypress-logo.gif" /></a>
        </div>
      </div>
      <div id="header-info" >
        <p>
          <span class="header-welcome">Welcome, {$loggedin_user_name}</span> 
          <span class="header-logout"><a href="/logout.php">Logout</a></span>
        </p>
        <p>
          Last Login <span class="header-date">{if $last_login_time == 0}Never{else}{$last_login_time|date_format:"%m-%d-%Y, %I:%M %p"}{/if}</span><br />
          Today's Date <span class="header-date">{$smarty.now|date_format:"%m-%d-%Y"}</span>
        </p>      
      </div>
      <div id="topbar">
       <ul id="top-nav" >
        {foreach from=$main_menu item=module name="loop_module"}
          {if $module.pos != 'right'}
          <li><a href="{$module.url}" {if $module.target}target="{$module.target}"{/if} {if ($module.sub_menu|@count) > 1}onmouseover="mopen('m{$smarty.foreach.loop_module.iteration}')" onmouseout="mclosetime()"{/if}>
          {if $module.image != ''}<img alt="{$module.module_name}" src="/images/{$module.image}{if $g_current_path == $module.path}-on{/if}.jpg">{else}{$module.module_name}{/if}
          </a>
          {if ($module.sub_menu|@count) > 1}
          <div id="m{$smarty.foreach.loop_module.iteration}" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
            <a class="listfirst" >&nbsp;</a>
            {foreach from=$module.sub_menu item=sub_menu name="loop_sub_menu"}
            <a href="{$sub_menu.url}" {if $sub_menu.target}target="{$sub_menu.target}"{/if} class="{if $smarty.foreach.loop_sub_menu.iteration % 2 eq 1}limenuodd{else}limenueven{/if}" >{$sub_menu.image} {$sub_menu.label}</a>
            {/foreach}
            <a class="listlast" >&nbsp;</a>
          </div>
            {/if}
            </li>
          {/if}
        {/foreach}
        {if $main_menu}
        <li><img alt="" src="/images/topbar-none.jpg" width="50" /></li>
        {/if}
        {foreach from=$main_menu item=module name="loop_module"}
          {if $module.pos == 'right'}
          <li><a href="{$module.url}" {if $module.onclick}onclick="{$module.onclick}"{/if} {if $module.target}target="{$module.target}"{/if} {if ($module.sub_menu|@count) > 1}onmouseover="mopen('m{$smarty.foreach.loop_module.iteration}')" onmouseout="mclosetime()"{/if}>{if $module.image != ''}<img alt="{$module.module_name}" src="/images/{$module.image}{if $g_current_path == $module.path}-on{/if}.jpg">{else}{$module.module_name}{/if}</a>
          {if ($module.sub_menu|@count) > 1}
          <div id="m{$smarty.foreach.loop_module.iteration}" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
            <a class="listfirst" >&nbsp;</a>
            {foreach from=$module.sub_menu item=sub_menu name="loop_sub_menu"}
            <a href="{$sub_menu.url}" {if $sub_menu.target}target="{$sub_menu.target}"{/if} class="{if $smarty.foreach.loop_sub_menu.iteration % 2 eq 1}limenuodd{else}limenueven{/if}">{$sub_menu.image} {$sub_menu.label}</a>
            {/foreach}
            <a class="listlast" >&nbsp;</a>
          </div>
            {/if}
          </li>
          {/if}
        {/foreach}
       </ul>
      </div>
    </div>
    <div id="page" >
      <!-- quick pane start -->
      {if $quick_pane}
      <div id="breadcrumb" >
        {foreach from=$quick_pane item=quick_menu name="loop_quick_menu"}
        <a href="{$quick_menu.url}">{$quick_menu.lable}</a>&nbsp;&gt;
        {/foreach}
      </div>
      {/if}
      <!-- quick pane end -->

      